<div class="progress">
    <div class="progress__indicator">
        <div class="progress__indicator_wave"></div>
        <div class="progress__indicator_wave"></div>
        <div class="progress__indicator_wave"></div>
    </div>
    <div class="progress__status">
        <div class="progress__status_text">
            <span>Status: 10%</span>
        </div>
    </div>
</div>