<template data-extend="/container/default/index.html" data-extend-container="default">

    <div class="iw_modal iw_modal_size_xs iw_modal_skin_dark">
        <div class="iw_modal__head">

            <div class="iw_block_left">

                <a href="/" class="iw_btn iw_btn_skin_link">
                    <span>IronWar</span>
                </a>
            </div>

            <div class="iw_block_right">
                <i class="iw iw-warning-sign iw_text_skin_error"></i>
            </div>

        </div>

        <div class="iw_modal__body iw_block_center">
            <h1>Page Locked</h1>
            <small>The resource that is being accessed is locked. Probably the resource had already been opened in another window!</small>
        </div>
    </div>

</template>
