<div class="header row row_xs">
    <div class="col_xs_4 col_sm_2 col_md_1 col_lg_1">
        <h2><a href="/">IronWar</a></h2>
    </div>
    <div class="col_xs_8 col_sm_10 col_md_11 col_lg_11">
        <ul class="navbar_horizontal navbar_horizontal_right navbar_horizontal_sm">
            <li title="Sign in" class="hint">
                <a href="/">
                    <i class="fa fa-lock"></i>
                </a>
            </li>
            <li title="Sign out" class="hint">
                <a href="/">
                    <i class="fa fa-unlock"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
