<div class="model">
    <div class="col_xs_12 col_sm_12 col_md_4 col_lg_3">
        <div class="model__information">
            <div class="model__information_item"></div>
            <div class="model__information_item"></div>
            <div class="model__information_item"></div>
            <div class="model__information_item"></div>
            <div class="model__information_item"></div>
            <div class="model__information_item"></div>
        </div>
    </div>
    <div class="col_xs_12 col_sm_12 col_md_4 col_lg_6">
        <div class="model__container">
            <img src="/src/img/test/1.jpg" class="model__container_img">
        </div>
    </div>
    <div class="col_xs_12 col_sm_12 col_md_4 col_lg_3">
        <div class="model__information">
            <div class="model__information_item"></div>
            <div class="model__information_item"></div>
            <div class="model__information_item"></div>
            <div class="model__information_item"></div>
            <div class="model__information_item"></div>
            <div class="model__information_item"></div>
        </div>
    </div>
</div>