html, body, canvas {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: url('../images/textures/background/main.png') #000000;
    background-size: cover;
}

.iw-block-preview {
    position: absolute;
    z-index: 1;
}

.sw-active {
    background-color: rgba(0,255,255,0.2);
}

.nav li a:hover, .nav li a:focus {
    background-color: rgba(0,255,255,0.2);
    color: rgba(0,255,255,0.5);
}

.sw-aim {
    background: url("../images/textures/aim/aim.png") no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.sw-label-speed {
    width: 80px;
    height: 40px;
    color: #FFFFFF;
    font-size: 9px;
}

.sw-label-distance {
    width: 80px;
    height: 40px;
    color: #FFFFFF;
    font-size: 9px;
}

.text-label {
    color: #FFFFFF;
    font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 12px;
    margin: -5px 0 0 15px;
    pointer-events:none;
}

.sw-body {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hidden {
    display: none;
}

.sw-block-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    color: #FFFFFF;
    font-family: Arial;
}

/*===================================================================================================================*/
.sw-block-modal {
    pointer-events: none;
}

.sw-block-modal a,
.sw-block-modal input,
.sw-block-modal button {
    pointer-events: all;
}

/*===================================================================================================================*/

.sw-logo {
    margin: 0 10px;
}

.sw-logo h2 {
    margin-top: 0;
}

.sw-logo small {
    letter-spacing: 12px;
    margin-left: 3px;
}

.sw-naw {
    margin: 10px;
}

/*===================================================================================================================*/
.sw-modal-panel-nead {
    min-height: 12px;
}

.sw-modal-head {
    min-height: 40px;
    font-weight: bold;
    border-bottom: 1px solid rgba(127,255,255,0.25);
    overflow: hidden;
    margin: 10px;
    padding: 10px;
}

.sw-modal-body {
    margin: 10px;
    padding: 10px;
}

.sw-text-right {
    text-align: right;
}

.sw-panel-control, .sw-map, .sw-modal {
    color: rgba(0,255,255,0.5);
    box-shadow: inset 0 0 12px rgba(0,255,255,0.5);
    font-size: 12px;
}

.sw-modal {
    border: 1px solid rgba(127,255,255,0.25);
    border-radius: 5px;
    overflow: hidden;
    width: 30%;
    margin: 10% 35%;
}

.sw-modal a {
    color: rgba(0,255,255,0.5);
}

@media screen and (max-width: 1200px) {
    .sw-modal {
        width: 40%;
        margin: 10% 30%;
    }
}

@media screen and (max-width: 900px) {
    .sw-modal {
        width: 50%;
        margin: 10% 25%;
    }
}

@media screen and (max-width: 600px) {
    .sw-modal {
        width: 80%;
        margin: 10% 10%;
    }
    .sw-map {
        display: none;
    }
}

.sw-modal-size-6 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.sw-modal-size-12 {
    width: 98%;
    margin: 1% 1%;
    height: 98%;
}

.sw-modal-skin-star {
    background: rgba(0,0,0,0.3);
}

.sw-modal-skin-panel {
    background: rgba(0,0,0,1);
}

.sw-map {
    border-radius: 5px 0 0 0;
    border-top: 1px solid rgba(127,255,255,0.25);
    border-left: 1px solid rgba(127,255,255,0.25);
}

.sw-panel-control {
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid rgba(127,255,255,0.25);
    padding: 5px;
}

.sw-block-actions {
    width: 100%;
    height: 38px;
    overflow: hidden;
}

.sw-action {
    height: 32px;
    width: 32px;
    margin: 2px 1px 0 0;
    float: left;
    text-align: center;
    border-radius: 2px;
    border: 1px solid rgba(127,255,255,0.5);
    background-color: rgba(0,255,255,0.2);
    position: relative;
}

.sw-action:hover {
    box-shadow: 0 0 12px rgba(0,255,255,0.75);
    border: 1px solid rgba(127,255,255,0.75);
    cursor: pointer;
}

.sw-action-active, .sw-action:active {
    background-color: rgba(0,255,255,0.4);
}

.sw-action-icon {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 10px;
    font-size: 14px;
}

.sw-action-keyword {
    position: absolute;
    left: 2px;
    top: -2px;
    font-size: 9px;
}

.sw-block-progress {
    width: 290px;
    float: left;
}

.sw-status-progress {
    width: 60%;
    border: 1px solid rgba(127,255,255,0.75);
    border-radius: 2px;
    height: 6px;
    margin: 2px 0 3px 0;
    text-transform: uppercase;
    color: #000000;
    float: left;
}

.sw-status-progress div {
    width: 0%;
    background: rgba(127,255,255,0.45);
    height: 4px;
    border-radius: 4px;
}

.sw-status-progress-label {
    color: #FFFFFF;
    width: calc(40% - 10px);
    font-size: 8px;
    float: left;
    padding-left: 10px;
    text-transform: uppercase;
}

.sw-block-errors {
    padding: 0;
}

.sw-block-errors li {
    list-style-type: none;
}

.sw-text-error {
    font-size: 10px;
    font-weight: bold;
}

.sw-row {
    width: 100%;
    clear: both;
    overflow: hidden;
}

/*===============================================   FIELDS   =========================================================*/
.sw-star, .sw-text-error {
    color: #FFA000;
}
.sw-float {
    float: left;
}

.sw-clear {
    clear: both;
}

.sw-field {
    /*margin: 15px 0;*/
}

label,
.sw-btn,
.sw-link,
.sw-modal-head {
    -moz-user-select: none;
    -webkit-user-select: none;
}

.sw-field input,
.sw-field span {
    color: rgba(127,255,255,0.75);
    background: transparent;
    border: 1px solid rgba(127,255,255,0.75);
}

.sw-field .sw-status-error:focus,
.sw-field .sw-status-error:active,
.sw-field .sw-status-error {
    border-bottom: solid 1px rgba(255,120,10,1);
}

.sw-field .sw-status-success:focus,
.sw-field .sw-status-success:active,
.sw-field .sw-status-success {
    border-bottom: solid 1px rgba(28,172,120,1);
}

.sw-btn {
    color: rgba(127,255,255,0.75);
    background: transparent;
    border: 1px solid rgba(127,255,255,0.75);
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline;
}

.sw-field input:focus,
.sw-field input:active,
.sw-btn:focus,
.sw-btn:active {
    outline: none;
    border: 1px solid rgba(100,255,255,0.80);
}

.sw-btn:active {
    background-color: rgba(0,255,255,0.5);
}

.sw-link {
    cursor: pointer;
    /*margin: 5px;*/
}

.sw-link:hover {
    color: rgba(0,255,255,0.6);
}

.sw-link:focus {
    color: rgba(0,255,255,0.75);
}


/* --------------------------------------------------- Bootstrap --------------------------------------------------- */

.progress-block {
    position: absolute;
    width: calc( 100% - 100px );
    top: 50%;
    margin: 50px;
}

.progress-galaxy {
    overflow: hidden;
    height: 20px;
    background-color: #000000;
    border: 1px solid rgba(127,255,255,0.25);
    -webkit-box-shadow: inset 0 0 12px rgba(0,255,255,0.5);
    box-shadow: inset 0 0 12px rgba(0,255,255,0.5);
    border-radius: 4px;
}

.progress-bar-label {
    color: #FFFFFF;
    padding: 5px 10px;
}

.progress-bar-galaxy {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(127,255,255,0.25);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}
