html,
body,
canvas {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  color: rgba(0, 255, 255, 0.5);
  font-size: 12px;
}
body {
  background: #000000 url('../images/textures/background/main.png');
}
.iw_clearfix {
  clear: both;
}
.iw_block_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.iw_pull_right {
  float: right;
}
.iw_pull_left {
  float: left;
}
.hidden {
  display: none;
}
a {
  color: rgba(0, 255, 255, 0.5);
  text-decoration: none;
}
a:hover {
  color: rgba(0, 255, 255, 0.8);
  text-decoration: underline;
}
a:focus {
  color: rgba(0, 255, 255, 0.8);
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.iw_hide_a {
  opacity: 0;
  animation-name: hide;
  animation-duration: 1s;
}
.iw_show_a {
  opacity: 1;
  animation-name: show;
  animation-duration: 1s;
}
h1,
.h1 {
  font-size: 32px;
}
h2,
.h2 {
  font-size: 28px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 20px;
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 12px;
}
.iw_margin_px_0 {
  margin: 0px;
}
.iw_margin_pct_0 {
  margin: 0%;
}
.iw_margin_v_px_0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.iw_margin_v_pct_0 {
  margin-top: 0%;
  margin-bottom: 0%;
}
.iw_margin_h_px_0 {
  margin-left: 0px;
  margin-right: 0px;
}
.iw_margin_h_pct_0 {
  margin-left: 0%;
  margin-right: 0%;
}
.iw_margin_l_px_0 {
  margin-left: 0px;
}
.iw_margin_l_pct_0 {
  margin-left: 0%;
}
.iw_margin_r_px_0 {
  margin-right: 0px;
}
.iw_margin_r_pct_0 {
  margin-right: 0%;
}
.iw_margin_px_5 {
  margin: 5px;
}
.iw_margin_pct_5 {
  margin: 5%;
}
.iw_margin_v_px_5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.iw_margin_v_pct_5 {
  margin-top: 5%;
  margin-bottom: 5%;
}
.iw_margin_h_px_5 {
  margin-left: 5px;
  margin-right: 5px;
}
.iw_margin_h_pct_5 {
  margin-left: 5%;
  margin-right: 5%;
}
.iw_margin_l_px_5 {
  margin-left: 5px;
}
.iw_margin_l_pct_5 {
  margin-left: 5%;
}
.iw_margin_r_px_5 {
  margin-right: 5px;
}
.iw_margin_r_pct_5 {
  margin-right: 5%;
}
.iw_margin_px_10 {
  margin: 10px;
}
.iw_margin_pct_10 {
  margin: 10%;
}
.iw_margin_v_px_10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.iw_margin_v_pct_10 {
  margin-top: 10%;
  margin-bottom: 10%;
}
.iw_margin_h_px_10 {
  margin-left: 10px;
  margin-right: 10px;
}
.iw_margin_h_pct_10 {
  margin-left: 10%;
  margin-right: 10%;
}
.iw_margin_l_px_10 {
  margin-left: 10px;
}
.iw_margin_l_pct_10 {
  margin-left: 10%;
}
.iw_margin_r_px_10 {
  margin-right: 10px;
}
.iw_margin_r_pct_10 {
  margin-right: 10%;
}
.iw_margin_px_15 {
  margin: 15px;
}
.iw_margin_pct_15 {
  margin: 15%;
}
.iw_margin_v_px_15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.iw_margin_v_pct_15 {
  margin-top: 15%;
  margin-bottom: 15%;
}
.iw_margin_h_px_15 {
  margin-left: 15px;
  margin-right: 15px;
}
.iw_margin_h_pct_15 {
  margin-left: 15%;
  margin-right: 15%;
}
.iw_margin_l_px_15 {
  margin-left: 15px;
}
.iw_margin_l_pct_15 {
  margin-left: 15%;
}
.iw_margin_r_px_15 {
  margin-right: 15px;
}
.iw_margin_r_pct_15 {
  margin-right: 15%;
}
.iw_margin_px_20 {
  margin: 20px;
}
.iw_margin_pct_20 {
  margin: 20%;
}
.iw_margin_v_px_20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.iw_margin_v_pct_20 {
  margin-top: 20%;
  margin-bottom: 20%;
}
.iw_margin_h_px_20 {
  margin-left: 20px;
  margin-right: 20px;
}
.iw_margin_h_pct_20 {
  margin-left: 20%;
  margin-right: 20%;
}
.iw_margin_l_px_20 {
  margin-left: 20px;
}
.iw_margin_l_pct_20 {
  margin-left: 20%;
}
.iw_margin_r_px_20 {
  margin-right: 20px;
}
.iw_margin_r_pct_20 {
  margin-right: 20%;
}
.iw_padding_px_0 {
  padding: 0px;
}
.iw_padding_pct_0 {
  padding: 0%;
}
.iw_padding_v_px_0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.iw_padding_v_pct_0 {
  padding-top: 0%;
  padding-bottom: 0%;
}
.iw_padding_h_px_0 {
  padding-left: 0px;
  padding-right: 0px;
}
.iw_padding_h_pct_0 {
  padding-left: 0%;
  padding-right: 0%;
}
.iw_padding_l_px_0 {
  padding-left: 0px;
}
.iw_padding_l_pct_0 {
  padding-left: 0%;
}
.iw_padding_r_px_0 {
  padding-right: 0px;
}
.iw_padding_r_pct_0 {
  padding-right: 0%;
}
.iw_padding_px_5 {
  padding: 5px;
}
.iw_padding_pct_5 {
  padding: 5%;
}
.iw_padding_v_px_5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.iw_padding_v_pct_5 {
  padding-top: 5%;
  padding-bottom: 5%;
}
.iw_padding_h_px_5 {
  padding-left: 5px;
  padding-right: 5px;
}
.iw_padding_h_pct_5 {
  padding-left: 5%;
  padding-right: 5%;
}
.iw_padding_l_px_5 {
  padding-left: 5px;
}
.iw_padding_l_pct_5 {
  padding-left: 5%;
}
.iw_padding_r_px_5 {
  padding-right: 5px;
}
.iw_padding_r_pct_5 {
  padding-right: 5%;
}
.iw_padding_px_10 {
  padding: 10px;
}
.iw_padding_pct_10 {
  padding: 10%;
}
.iw_padding_v_px_10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.iw_padding_v_pct_10 {
  padding-top: 10%;
  padding-bottom: 10%;
}
.iw_padding_h_px_10 {
  padding-left: 10px;
  padding-right: 10px;
}
.iw_padding_h_pct_10 {
  padding-left: 10%;
  padding-right: 10%;
}
.iw_padding_l_px_10 {
  padding-left: 10px;
}
.iw_padding_l_pct_10 {
  padding-left: 10%;
}
.iw_padding_r_px_10 {
  padding-right: 10px;
}
.iw_padding_r_pct_10 {
  padding-right: 10%;
}
.iw_padding_px_15 {
  padding: 15px;
}
.iw_padding_pct_15 {
  padding: 15%;
}
.iw_padding_v_px_15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.iw_padding_v_pct_15 {
  padding-top: 15%;
  padding-bottom: 15%;
}
.iw_padding_h_px_15 {
  padding-left: 15px;
  padding-right: 15px;
}
.iw_padding_h_pct_15 {
  padding-left: 15%;
  padding-right: 15%;
}
.iw_padding_l_px_15 {
  padding-left: 15px;
}
.iw_padding_l_pct_15 {
  padding-left: 15%;
}
.iw_padding_r_px_15 {
  padding-right: 15px;
}
.iw_padding_r_pct_15 {
  padding-right: 15%;
}
.iw_padding_px_20 {
  padding: 20px;
}
.iw_padding_pct_20 {
  padding: 20%;
}
.iw_padding_v_px_20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.iw_padding_v_pct_20 {
  padding-top: 20%;
  padding-bottom: 20%;
}
.iw_padding_h_px_20 {
  padding-left: 20px;
  padding-right: 20px;
}
.iw_padding_h_pct_20 {
  padding-left: 20%;
  padding-right: 20%;
}
.iw_padding_l_px_20 {
  padding-left: 20px;
}
.iw_padding_l_pct_20 {
  padding-left: 20%;
}
.iw_padding_r_px_20 {
  padding-right: 20px;
}
.iw_padding_r_pct_20 {
  padding-right: 20%;
}
.iw_logo {
  margin: 0 10px;
}
.iw_logo__signature {
  letter-spacing: 12px;
}
.iw_modal {
  box-shadow: inset 0 0 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  border-radius: 5px;
  overflow: hidden;
  min-width: 30%;
  margin: 10% 35%;
  position: absolute;
  z-index: 1;
}
.iw_modal__control {
  min-height: 12px;
}
.iw_modal__head {
  min-height: 40px;
  font-weight: bold;
  border-bottom: 1px solid rgba(127, 255, 255, 0.25);
  overflow: hidden;
  margin: 10px;
  padding: 10px;
}
.iw_modal__body {
  margin: 10px;
  padding: 10px;
}
.iw_modal__foot {
  min-height: 12px;
}
.iw_size_modal_1 {
  width: 56.33333333%;
  min-height: 56.33333333%;
  margin: 10.91666667% 21.83333333%;
}
.iw_size_modal_2 {
  width: 64.66666667%;
  min-height: 64.66666667%;
  margin: 8.83333333% 17.66666667%;
}
.iw_size_modal_3 {
  width: 73%;
  min-height: 73%;
  margin: 6.75% 13.5%;
}
.iw_size_modal_4 {
  width: 81.33333333%;
  min-height: 81.33333333%;
  margin: 4.66666667% 9.33333333%;
}
.iw_size_modal_5 {
  width: 89.66666667%;
  min-height: 89.66666667%;
  margin: 2.58333333% 5.16666667%;
}
.iw_size_modal_6 {
  width: 98%;
  min-height: 98%;
  margin: 0.5% 1%;
}
.iw_button {
  color: rgba(0, 255, 255, 0.5);
  background: transparent;
  border: 1px solid rgba(127, 255, 255, 0.25);
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  text-decoration: none;
  display: inline;
}
.iw_button:hover {
  color: rgba(0, 255, 255, 0.8);
  background-color: rgba(100, 255, 255, 0.8);
}
.iw_button:focus {
  outline: none;
  color: rgba(0, 255, 255, 0.8);
  background-color: rgba(100, 255, 255, 0.8);
}
.iw_button:active {
  outline: none;
  color: rgba(0, 255, 255, 0.8);
  background-color: rgba(100, 255, 255, 0.8);
}
