@font-face {
  font-family: 'Font Iron';
  src: url('../fonts/iw-halflings-regular.eot');
  src: url('../fonts/iw-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/iw-halflings-regular.woff2') format('woff2'), url('../fonts/iw-halflings-regular.woff') format('woff'), url('../fonts/iw-halflings-regular.ttf') format('truetype'), url('../fonts/iw-halflings-regular.svg#iw_halflingsregular') format('svg');
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.iw_hide_a {
  opacity: 0;
  animation-name: hide;
  animation-duration: 1s;
}
.iw_show_a {
  opacity: 1;
  animation-name: show;
  animation-duration: 1s;
}
.iw_position_a {
  position: absolute;
}
.iw_position_r {
  position: relative;
}
.iw_clearfix {
  clear: both;
}
.iw_block_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.iw_block_right {
  float: right;
  padding-right: 5px;
}
.iw_block_left {
  float: left;
  padding-left: 5px;
}
.iw_hidden {
  display: none;
}
html,
body,
canvas {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  color: rgba(0, 255, 255, 0.5);
  font-size: 12px;
}
body {
  background: #000000 url('../images/textures/background/main.png');
}
a {
  color: rgba(0, 255, 255, 0.5);
  text-decoration: none;
}
a:hover {
  color: rgba(0, 255, 255, 0.7);
}
a:focus {
  color: rgba(0, 255, 255, 0.8);
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
h1,
.h1 {
  font-size: 32px;
}
h2,
.h2 {
  font-size: 28px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 20px;
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 12px;
}
.iw {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Font Iron';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iw-asterisk:before {
  content: "\002a";
}
.iw-plus:before {
  content: "\002b";
}
.iw-euro:before,
.iw-eur:before {
  content: "\20ac";
}
.iw-minus:before {
  content: "\2212";
}
.iw-cloud:before {
  content: "\2601";
}
.iw-envelope:before {
  content: "\2709";
}
.iw-pencil:before {
  content: "\270f";
}
.iw-glass:before {
  content: "\e001";
}
.iw-music:before {
  content: "\e002";
}
.iw-search:before {
  content: "\e003";
}
.iw-heart:before {
  content: "\e005";
}
.iw-star:before {
  content: "\e006";
}
.iw-star-empty:before {
  content: "\e007";
}
.iw-user:before {
  content: "\e008";
}
.iw-film:before {
  content: "\e009";
}
.iw-th-large:before {
  content: "\e010";
}
.iw-th:before {
  content: "\e011";
}
.iw-th-list:before {
  content: "\e012";
}
.iw-ok:before {
  content: "\e013";
}
.iw-remove:before {
  content: "\e014";
}
.iw-zoom-in:before {
  content: "\e015";
}
.iw-zoom-out:before {
  content: "\e016";
}
.iw-off:before {
  content: "\e017";
}
.iw-signal:before {
  content: "\e018";
}
.iw-cog:before {
  content: "\e019";
}
.iw-trash:before {
  content: "\e020";
}
.iw-home:before {
  content: "\e021";
}
.iw-file:before {
  content: "\e022";
}
.iw-time:before {
  content: "\e023";
}
.iw-road:before {
  content: "\e024";
}
.iw-download-alt:before {
  content: "\e025";
}
.iw-download:before {
  content: "\e026";
}
.iw-upload:before {
  content: "\e027";
}
.iw-inbox:before {
  content: "\e028";
}
.iw-play-circle:before {
  content: "\e029";
}
.iw-repeat:before {
  content: "\e030";
}
.iw-refresh:before {
  content: "\e031";
}
.iw-list-alt:before {
  content: "\e032";
}
.iw-lock:before {
  content: "\e033";
}
.iw-flag:before {
  content: "\e034";
}
.iw-headphones:before {
  content: "\e035";
}
.iw-volume-off:before {
  content: "\e036";
}
.iw-volume-down:before {
  content: "\e037";
}
.iw-volume-up:before {
  content: "\e038";
}
.iw-qrcode:before {
  content: "\e039";
}
.iw-barcode:before {
  content: "\e040";
}
.iw-tag:before {
  content: "\e041";
}
.iw-tags:before {
  content: "\e042";
}
.iw-book:before {
  content: "\e043";
}
.iw-bookmark:before {
  content: "\e044";
}
.iw-print:before {
  content: "\e045";
}
.iw-camera:before {
  content: "\e046";
}
.iw-font:before {
  content: "\e047";
}
.iw-bold:before {
  content: "\e048";
}
.iw-italic:before {
  content: "\e049";
}
.iw-text-height:before {
  content: "\e050";
}
.iw-text-width:before {
  content: "\e051";
}
.iw-align-left:before {
  content: "\e052";
}
.iw-align-center:before {
  content: "\e053";
}
.iw-align-right:before {
  content: "\e054";
}
.iw-align-justify:before {
  content: "\e055";
}
.iw-list:before {
  content: "\e056";
}
.iw-indent-left:before {
  content: "\e057";
}
.iw-indent-right:before {
  content: "\e058";
}
.iw-facetime-video:before {
  content: "\e059";
}
.iw-picture:before {
  content: "\e060";
}
.iw-map-marker:before {
  content: "\e062";
}
.iw-adjust:before {
  content: "\e063";
}
.iw-tint:before {
  content: "\e064";
}
.iw-edit:before {
  content: "\e065";
}
.iw-share:before {
  content: "\e066";
}
.iw-check:before {
  content: "\e067";
}
.iw-move:before {
  content: "\e068";
}
.iw-step-backward:before {
  content: "\e069";
}
.iw-fast-backward:before {
  content: "\e070";
}
.iw-backward:before {
  content: "\e071";
}
.iw-play:before {
  content: "\e072";
}
.iw-pause:before {
  content: "\e073";
}
.iw-stop:before {
  content: "\e074";
}
.iw-forward:before {
  content: "\e075";
}
.iw-fast-forward:before {
  content: "\e076";
}
.iw-step-forward:before {
  content: "\e077";
}
.iw-eject:before {
  content: "\e078";
}
.iw-chevron-left:before {
  content: "\e079";
}
.iw-chevron-right:before {
  content: "\e080";
}
.iw-plus-sign:before {
  content: "\e081";
}
.iw-minus-sign:before {
  content: "\e082";
}
.iw-remove-sign:before {
  content: "\e083";
}
.iw-ok-sign:before {
  content: "\e084";
}
.iw-question-sign:before {
  content: "\e085";
}
.iw-info-sign:before {
  content: "\e086";
}
.iw-screenshot:before {
  content: "\e087";
}
.iw-remove-circle:before {
  content: "\e088";
}
.iw-ok-circle:before {
  content: "\e089";
}
.iw-ban-circle:before {
  content: "\e090";
}
.iw-arrow-left:before {
  content: "\e091";
}
.iw-arrow-right:before {
  content: "\e092";
}
.iw-arrow-up:before {
  content: "\e093";
}
.iw-arrow-down:before {
  content: "\e094";
}
.iw-share-alt:before {
  content: "\e095";
}
.iw-resize-full:before {
  content: "\e096";
}
.iw-resize-small:before {
  content: "\e097";
}
.iw-exclamation-sign:before {
  content: "\e101";
}
.iw-gift:before {
  content: "\e102";
}
.iw-leaf:before {
  content: "\e103";
}
.iw-fire:before {
  content: "\e104";
}
.iw-eye-open:before {
  content: "\e105";
}
.iw-eye-close:before {
  content: "\e106";
}
.iw-warning-sign:before {
  content: "\e107";
}
.iw-plane:before {
  content: "\e108";
}
.iw-calendar:before {
  content: "\e109";
}
.iw-random:before {
  content: "\e110";
}
.iw-comment:before {
  content: "\e111";
}
.iw-magnet:before {
  content: "\e112";
}
.iw-chevron-up:before {
  content: "\e113";
}
.iw-chevron-down:before {
  content: "\e114";
}
.iw-retweet:before {
  content: "\e115";
}
.iw-shopping-cart:before {
  content: "\e116";
}
.iw-folder-close:before {
  content: "\e117";
}
.iw-folder-open:before {
  content: "\e118";
}
.iw-resize-vertical:before {
  content: "\e119";
}
.iw-resize-horizontal:before {
  content: "\e120";
}
.iw-hdd:before {
  content: "\e121";
}
.iw-bullhorn:before {
  content: "\e122";
}
.iw-bell:before {
  content: "\e123";
}
.iw-certificate:before {
  content: "\e124";
}
.iw-thumbs-up:before {
  content: "\e125";
}
.iw-thumbs-down:before {
  content: "\e126";
}
.iw-hand-right:before {
  content: "\e127";
}
.iw-hand-left:before {
  content: "\e128";
}
.iw-hand-up:before {
  content: "\e129";
}
.iw-hand-down:before {
  content: "\e130";
}
.iw-circle-arrow-right:before {
  content: "\e131";
}
.iw-circle-arrow-left:before {
  content: "\e132";
}
.iw-circle-arrow-up:before {
  content: "\e133";
}
.iw-circle-arrow-down:before {
  content: "\e134";
}
.iw-globe:before {
  content: "\e135";
}
.iw-wrench:before {
  content: "\e136";
}
.iw-tasks:before {
  content: "\e137";
}
.iw-filter:before {
  content: "\e138";
}
.iw-briefcase:before {
  content: "\e139";
}
.iw-fullscreen:before {
  content: "\e140";
}
.iw-dashboard:before {
  content: "\e141";
}
.iw-paperclip:before {
  content: "\e142";
}
.iw-heart-empty:before {
  content: "\e143";
}
.iw-link:before {
  content: "\e144";
}
.iw-phone:before {
  content: "\e145";
}
.iw-pushpin:before {
  content: "\e146";
}
.iw-usd:before {
  content: "\e148";
}
.iw-gbp:before {
  content: "\e149";
}
.iw-sort:before {
  content: "\e150";
}
.iw-sort-by-alphabet:before {
  content: "\e151";
}
.iw-sort-by-alphabet-alt:before {
  content: "\e152";
}
.iw-sort-by-order:before {
  content: "\e153";
}
.iw-sort-by-order-alt:before {
  content: "\e154";
}
.iw-sort-by-attributes:before {
  content: "\e155";
}
.iw-sort-by-attributes-alt:before {
  content: "\e156";
}
.iw-unchecked:before {
  content: "\e157";
}
.iw-expand:before {
  content: "\e158";
}
.iw-collapse-down:before {
  content: "\e159";
}
.iw-collapse-up:before {
  content: "\e160";
}
.iw-log-in:before {
  content: "\e161";
}
.iw-flash:before {
  content: "\e162";
}
.iw-log-out:before {
  content: "\e163";
}
.iw-new-window:before {
  content: "\e164";
}
.iw-record:before {
  content: "\e165";
}
.iw-save:before {
  content: "\e166";
}
.iw-open:before {
  content: "\e167";
}
.iw-saved:before {
  content: "\e168";
}
.iw-import:before {
  content: "\e169";
}
.iw-export:before {
  content: "\e170";
}
.iw-send:before {
  content: "\e171";
}
.iw-floppy-disk:before {
  content: "\e172";
}
.iw-floppy-saved:before {
  content: "\e173";
}
.iw-floppy-remove:before {
  content: "\e174";
}
.iw-floppy-save:before {
  content: "\e175";
}
.iw-floppy-open:before {
  content: "\e176";
}
.iw-credit-card:before {
  content: "\e177";
}
.iw-transfer:before {
  content: "\e178";
}
.iw-cutlery:before {
  content: "\e179";
}
.iw-header:before {
  content: "\e180";
}
.iw-compressed:before {
  content: "\e181";
}
.iw-earphone:before {
  content: "\e182";
}
.iw-phone-alt:before {
  content: "\e183";
}
.iw-tower:before {
  content: "\e184";
}
.iw-stats:before {
  content: "\e185";
}
.iw-sd-video:before {
  content: "\e186";
}
.iw-hd-video:before {
  content: "\e187";
}
.iw-subtitles:before {
  content: "\e188";
}
.iw-sound-stereo:before {
  content: "\e189";
}
.iw-sound-dolby:before {
  content: "\e190";
}
.iw-sound-5-1:before {
  content: "\e191";
}
.iw-sound-6-1:before {
  content: "\e192";
}
.iw-sound-7-1:before {
  content: "\e193";
}
.iw-copyright-mark:before {
  content: "\e194";
}
.iw-registration-mark:before {
  content: "\e195";
}
.iw-cloud-download:before {
  content: "\e197";
}
.iw-cloud-upload:before {
  content: "\e198";
}
.iw-tree-conifer:before {
  content: "\e199";
}
.iw-tree-deciduous:before {
  content: "\e200";
}
.iw-cd:before {
  content: "\e201";
}
.iw-save-file:before {
  content: "\e202";
}
.iw-open-file:before {
  content: "\e203";
}
.iw-level-up:before {
  content: "\e204";
}
.iw-copy:before {
  content: "\e205";
}
.iw-paste:before {
  content: "\e206";
}
.iw-alert:before {
  content: "\e209";
}
.iw-equalizer:before {
  content: "\e210";
}
.iw-king:before {
  content: "\e211";
}
.iw-queen:before {
  content: "\e212";
}
.iw-pawn:before {
  content: "\e213";
}
.iw-bishop:before {
  content: "\e214";
}
.iw-knight:before {
  content: "\e215";
}
.iw-baby-formula:before {
  content: "\e216";
}
.iw-tent:before {
  content: "\26fa";
}
.iw-blackboard:before {
  content: "\e218";
}
.iw-bed:before {
  content: "\e219";
}
.iw-apple:before {
  content: "\f8ff";
}
.iw-erase:before {
  content: "\e221";
}
.iw-hourglass:before {
  content: "\231b";
}
.iw-lamp:before {
  content: "\e223";
}
.iw-duplicate:before {
  content: "\e224";
}
.iw-piggy-bank:before {
  content: "\e225";
}
.iw-scissors:before {
  content: "\e226";
}
.iw-bitcoin:before {
  content: "\e227";
}
.iw-btc:before {
  content: "\e227";
}
.iw-xbt:before {
  content: "\e227";
}
.iw-yen:before {
  content: "\00a5";
}
.iw-jpy:before {
  content: "\00a5";
}
.iw-ruble:before {
  content: "\20bd";
}
.iw-rub:before {
  content: "\20bd";
}
.iw-scale:before {
  content: "\e230";
}
.iw-ice-lolly:before {
  content: "\e231";
}
.iw-ice-lolly-tasted:before {
  content: "\e232";
}
.iw-education:before {
  content: "\e233";
}
.iw-option-horizontal:before {
  content: "\e234";
}
.iw-option-vertical:before {
  content: "\e235";
}
.iw-menu-hamburger:before {
  content: "\e236";
}
.iw-modal-window:before {
  content: "\e237";
}
.iw-oil:before {
  content: "\e238";
}
.iw-grain:before {
  content: "\e239";
}
.iw-sunglasses:before {
  content: "\e240";
}
.iw-text-size:before {
  content: "\e241";
}
.iw-text-color:before {
  content: "\e242";
}
.iw-text-background:before {
  content: "\e243";
}
.iw-object-align-top:before {
  content: "\e244";
}
.iw-object-align-bottom:before {
  content: "\e245";
}
.iw-object-align-horizontal:before {
  content: "\e246";
}
.iw-object-align-left:before {
  content: "\e247";
}
.iw-object-align-vertical:before {
  content: "\e248";
}
.iw-object-align-right:before {
  content: "\e249";
}
.iw-triangle-right:before {
  content: "\e250";
}
.iw-triangle-left:before {
  content: "\e251";
}
.iw-triangle-bottom:before {
  content: "\e252";
}
.iw-triangle-top:before {
  content: "\e253";
}
.iw-console:before {
  content: "\e254";
}
.iw-superscript:before {
  content: "\e255";
}
.iw-subscript:before {
  content: "\e256";
}
.iw-menu-left:before {
  content: "\e257";
}
.iw-menu-right:before {
  content: "\e258";
}
.iw-menu-down:before {
  content: "\e259";
}
.iw-menu-up:before {
  content: "\e260";
}
.iw_logo {
  margin: 0 10px;
}
.iw_logo__name {
  margin: 0;
}
.iw_logo__signature {
  letter-spacing: 12px;
}
.iw_text_xs {
  font-size: 10px;
}
.iw_text_sm {
  font-size: 12px;
}
.iw_text_md {
  font-size: 14px;
}
.iw_text_lg {
  font-size: 16px;
}
.iw_modal {
  box-shadow: inset 0 0 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.4);
  border-radius: 5px;
  overflow: hidden;
  min-width: 30%;
  margin: 10% 35%;
  position: absolute;
  z-index: 1;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.iw_modal__control {
  padding: 10px 10px;
}
.iw_modal__head {
  font-weight: bold;
  border-bottom: 1px solid rgba(127, 255, 255, 0.4);
  overflow: hidden;
  margin: 10px;
  padding: 10px;
}
.iw_modal__body {
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}
.iw_modal__foot {
  min-height: 12px;
  overflow: hidden;
}
.iw_modal_skin_dark {
  background: rgba(0, 0, 0, 0.4);
}
.iw_modal_size_full {
  width: 99%;
  min-height: 98%;
  margin: 0.5%;
}
.iw_modal_size_xs {
  width: 32%;
  min-height: 19.83333333%;
  margin: 6.03333333% 34%;
}
.iw_modal_size_sm {
  width: 48%;
  min-height: 24%;
  margin: 5.2% 26%;
}
.iw_modal_size_md {
  width: 56.33333333%;
  min-height: 28.16666667%;
  margin: 4.36666667% 21.83333333%;
}
.iw_modal_size_lg {
  width: 64.66666667%;
  min-height: 32.33333333%;
  margin: 3.53333333% 17.66666667%;
}
.iw_btn {
  color: rgba(0, 255, 255, 0.5);
  background: transparent;
  border: 1px solid rgba(127, 255, 255, 0.4);
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  text-decoration: none;
  display: inline;
}
.iw_btn:hover {
  color: rgba(0, 255, 255, 0.7);
  background-color: rgba(100, 255, 255, 0.2);
}
.iw_btn:focus {
  outline: none;
  color: rgba(0, 255, 255, 0.8);
  background-color: rgba(100, 255, 255, 0.3);
}
.iw_btn:active {
  outline: none;
  color: rgba(0, 255, 255, 0.6);
  background-color: rgba(100, 255, 255, 0.4);
}
.iw_btn_skin_link {
  cursor: pointer;
  padding: initial;
  border: none;
}
.iw_btn_skin_link:hover {
  color: rgba(0, 255, 255, 0.7);
  background: none;
}
.iw_btn_skin_link:focus {
  outline: none;
  color: rgba(0, 255, 255, 0.8);
  background: none;
}
.iw_btn_skin_link:active {
  outline: none;
  color: rgba(0, 255, 255, 0.6);
  background: none;
}
