@font-face {
  font-family: 'Font Iron';
  src: url('../fonts/iw-halflings-regular.eot');
  src: url('../fonts/iw-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/iw-halflings-regular.woff2') format('woff2'), url('../fonts/iw-halflings-regular.woff') format('woff'), url('../fonts/iw-halflings-regular.ttf') format('truetype'), url('../fonts/iw-halflings-regular.svg#iw_halflingsregular') format('svg');
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.iw_hide_a {
  opacity: 0;
  animation-name: hide;
  animation-duration: 1s;
}
.iw_show_a {
  opacity: 1;
  animation-name: show;
  animation-duration: 1s;
}
.iw_absolute {
  position: absolute;
}
.iw_relative {
  position: relative;
}
.affix {
  position: fixed;
}
.iw_clearfix {
  clear: both;
}
.iw_block_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.iw_block_right {
  float: right;
}
.iw_block_left {
  float: left;
}
.iw_hidden {
  display: none;
}
.iw_star {
  color: #faa000;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.iw_visible_xs,
.iw_visible_sm,
.iw_visible_md,
.iw_visible_lg {
  display: none !important;
}
.iw_visible_xs_block,
.iw_visible_xs-inline,
.iw_visible_xs-inline_block,
.iw_visible_sm_block,
.iw_visible_sm-inline,
.iw_visible_sm-inline_block,
.iw_visible_md_block,
.iw_visible_md-inline,
.iw_visible_md-inline_block,
.iw_visible_lg_block,
.iw_visible_lg-inline,
.iw_visible_lg-inline_block {
  display: none !important;
}
@media (max-width: 767px) {
  .iw_visible_xs {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .iw_visible_xs_block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .iw_visible_xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .iw_visible_xs-inline_block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .iw_visible_sm {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .iw_visible_sm_block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .iw_visible_sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .iw_visible_sm-inline_block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .iw_visible_md {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .iw_visible_md_block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .iw_visible_md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .iw_visible_md-inline_block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .iw_visible_lg {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .iw_visible_lg_block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .iw_visible_lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .iw_visible_lg-inline_block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .iw_hidden_xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .iw_hidden_sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .iw_hidden_md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .iw_hidden_lg {
    display: none !important;
  }
}
html,
body,
canvas {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  color: rgba(0, 255, 255, 0.6);
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
}
body {
  background: #000000 url('../images/textures/background/main.png');
}
a {
  color: rgba(0, 255, 255, 0.6);
  text-decoration: none;
}
a:hover {
  color: rgba(0, 255, 255, 0.7);
}
a:focus {
  color: rgba(0, 255, 255, 0.8);
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
label {
  font-weight: bold;
}
h1,
.h1 {
  font-size: 32px;
}
h2,
.h2 {
  font-size: 28px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 20px;
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 12px;
}
.iw {
  position: relative;
  top: 2px;
  display: inline-block;
  font-family: 'Font Iron';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iw-asterisk:before {
  content: "\002a";
}
.iw-plus:before {
  content: "\002b";
}
.iw-euro:before,
.iw-eur:before {
  content: "\20ac";
}
.iw-minus:before {
  content: "\2212";
}
.iw-cloud:before {
  content: "\2601";
}
.iw-envelope:before {
  content: "\2709";
}
.iw-pencil:before {
  content: "\270f";
}
.iw-glass:before {
  content: "\e001";
}
.iw-music:before {
  content: "\e002";
}
.iw-search:before {
  content: "\e003";
}
.iw-heart:before {
  content: "\e005";
}
.iw-star:before {
  content: "\e006";
}
.iw-star-empty:before {
  content: "\e007";
}
.iw-user:before {
  content: "\e008";
}
.iw-film:before {
  content: "\e009";
}
.iw-th-large:before {
  content: "\e010";
}
.iw-th:before {
  content: "\e011";
}
.iw-th-list:before {
  content: "\e012";
}
.iw-ok:before {
  content: "\e013";
}
.iw-remove:before {
  content: "\e014";
}
.iw-zoom-in:before {
  content: "\e015";
}
.iw-zoom-out:before {
  content: "\e016";
}
.iw-off:before {
  content: "\e017";
}
.iw-signal:before {
  content: "\e018";
}
.iw-cog:before {
  content: "\e019";
}
.iw-trash:before {
  content: "\e020";
}
.iw-home:before {
  content: "\e021";
}
.iw-file:before {
  content: "\e022";
}
.iw-time:before {
  content: "\e023";
}
.iw-road:before {
  content: "\e024";
}
.iw-download-alt:before {
  content: "\e025";
}
.iw-download:before {
  content: "\e026";
}
.iw-upload:before {
  content: "\e027";
}
.iw-inbox:before {
  content: "\e028";
}
.iw-play-circle:before {
  content: "\e029";
}
.iw-repeat:before {
  content: "\e030";
}
.iw-refresh:before {
  content: "\e031";
}
.iw-list-alt:before {
  content: "\e032";
}
.iw-lock:before {
  content: "\e033";
}
.iw-flag:before {
  content: "\e034";
}
.iw-headphones:before {
  content: "\e035";
}
.iw-volume-off:before {
  content: "\e036";
}
.iw-volume-down:before {
  content: "\e037";
}
.iw-volume-up:before {
  content: "\e038";
}
.iw-qrcode:before {
  content: "\e039";
}
.iw-barcode:before {
  content: "\e040";
}
.iw-tag:before {
  content: "\e041";
}
.iw-tags:before {
  content: "\e042";
}
.iw-book:before {
  content: "\e043";
}
.iw-bookmark:before {
  content: "\e044";
}
.iw-print:before {
  content: "\e045";
}
.iw-camera:before {
  content: "\e046";
}
.iw-font:before {
  content: "\e047";
}
.iw-bold:before {
  content: "\e048";
}
.iw-italic:before {
  content: "\e049";
}
.iw-text-height:before {
  content: "\e050";
}
.iw-text-width:before {
  content: "\e051";
}
.iw-align-left:before {
  content: "\e052";
}
.iw-align-center:before {
  content: "\e053";
}
.iw-align-right:before {
  content: "\e054";
}
.iw-align-justify:before {
  content: "\e055";
}
.iw-list:before {
  content: "\e056";
}
.iw-indent-left:before {
  content: "\e057";
}
.iw-indent-right:before {
  content: "\e058";
}
.iw-facetime-video:before {
  content: "\e059";
}
.iw-picture:before {
  content: "\e060";
}
.iw-map-marker:before {
  content: "\e062";
}
.iw-adjust:before {
  content: "\e063";
}
.iw-tint:before {
  content: "\e064";
}
.iw-edit:before {
  content: "\e065";
}
.iw-share:before {
  content: "\e066";
}
.iw-check:before {
  content: "\e067";
}
.iw-move:before {
  content: "\e068";
}
.iw-step-backward:before {
  content: "\e069";
}
.iw-fast-backward:before {
  content: "\e070";
}
.iw-backward:before {
  content: "\e071";
}
.iw-play:before {
  content: "\e072";
}
.iw-pause:before {
  content: "\e073";
}
.iw-stop:before {
  content: "\e074";
}
.iw-forward:before {
  content: "\e075";
}
.iw-fast-forward:before {
  content: "\e076";
}
.iw-step-forward:before {
  content: "\e077";
}
.iw-eject:before {
  content: "\e078";
}
.iw-chevron-left:before {
  content: "\e079";
}
.iw-chevron-right:before {
  content: "\e080";
}
.iw-plus-sign:before {
  content: "\e081";
}
.iw-minus-sign:before {
  content: "\e082";
}
.iw-remove-sign:before {
  content: "\e083";
}
.iw-ok-sign:before {
  content: "\e084";
}
.iw-question-sign:before {
  content: "\e085";
}
.iw-info-sign:before {
  content: "\e086";
}
.iw-screenshot:before {
  content: "\e087";
}
.iw-remove-circle:before {
  content: "\e088";
}
.iw-ok-circle:before {
  content: "\e089";
}
.iw-ban-circle:before {
  content: "\e090";
}
.iw-arrow-left:before {
  content: "\e091";
}
.iw-arrow-right:before {
  content: "\e092";
}
.iw-arrow-up:before {
  content: "\e093";
}
.iw-arrow-down:before {
  content: "\e094";
}
.iw-share-alt:before {
  content: "\e095";
}
.iw-resize-full:before {
  content: "\e096";
}
.iw-resize-small:before {
  content: "\e097";
}
.iw-exclamation-sign:before {
  content: "\e101";
}
.iw-gift:before {
  content: "\e102";
}
.iw-leaf:before {
  content: "\e103";
}
.iw-fire:before {
  content: "\e104";
}
.iw-eye-open:before {
  content: "\e105";
}
.iw-eye-close:before {
  content: "\e106";
}
.iw-warning-sign:before {
  content: "\e107";
}
.iw-plane:before {
  content: "\e108";
}
.iw-calendar:before {
  content: "\e109";
}
.iw-random:before {
  content: "\e110";
}
.iw-comment:before {
  content: "\e111";
}
.iw-magnet:before {
  content: "\e112";
}
.iw-chevron-up:before {
  content: "\e113";
}
.iw-chevron-down:before {
  content: "\e114";
}
.iw-retweet:before {
  content: "\e115";
}
.iw-shopping-cart:before {
  content: "\e116";
}
.iw-folder-close:before {
  content: "\e117";
}
.iw-folder-open:before {
  content: "\e118";
}
.iw-resize-vertical:before {
  content: "\e119";
}
.iw-resize-horizontal:before {
  content: "\e120";
}
.iw-hdd:before {
  content: "\e121";
}
.iw-bullhorn:before {
  content: "\e122";
}
.iw-bell:before {
  content: "\e123";
}
.iw-certificate:before {
  content: "\e124";
}
.iw-thumbs-up:before {
  content: "\e125";
}
.iw-thumbs-down:before {
  content: "\e126";
}
.iw-hand-right:before {
  content: "\e127";
}
.iw-hand-left:before {
  content: "\e128";
}
.iw-hand-up:before {
  content: "\e129";
}
.iw-hand-down:before {
  content: "\e130";
}
.iw-circle-arrow-right:before {
  content: "\e131";
}
.iw-circle-arrow-left:before {
  content: "\e132";
}
.iw-circle-arrow-up:before {
  content: "\e133";
}
.iw-circle-arrow-down:before {
  content: "\e134";
}
.iw-globe:before {
  content: "\e135";
}
.iw-wrench:before {
  content: "\e136";
}
.iw-tasks:before {
  content: "\e137";
}
.iw-filter:before {
  content: "\e138";
}
.iw-briefcase:before {
  content: "\e139";
}
.iw-fullscreen:before {
  content: "\e140";
}
.iw-dashboard:before {
  content: "\e141";
}
.iw-paperclip:before {
  content: "\e142";
}
.iw-heart-empty:before {
  content: "\e143";
}
.iw-link:before {
  content: "\e144";
}
.iw-phone:before {
  content: "\e145";
}
.iw-pushpin:before {
  content: "\e146";
}
.iw-usd:before {
  content: "\e148";
}
.iw-gbp:before {
  content: "\e149";
}
.iw-sort:before {
  content: "\e150";
}
.iw-sort-by-alphabet:before {
  content: "\e151";
}
.iw-sort-by-alphabet-alt:before {
  content: "\e152";
}
.iw-sort-by-order:before {
  content: "\e153";
}
.iw-sort-by-order-alt:before {
  content: "\e154";
}
.iw-sort-by-attributes:before {
  content: "\e155";
}
.iw-sort-by-attributes-alt:before {
  content: "\e156";
}
.iw-unchecked:before {
  content: "\e157";
}
.iw-expand:before {
  content: "\e158";
}
.iw-collapse-down:before {
  content: "\e159";
}
.iw-collapse-up:before {
  content: "\e160";
}
.iw-log-in:before {
  content: "\e161";
}
.iw-flash:before {
  content: "\e162";
}
.iw-log-out:before {
  content: "\e163";
}
.iw-new-window:before {
  content: "\e164";
}
.iw-record:before {
  content: "\e165";
}
.iw-save:before {
  content: "\e166";
}
.iw-open:before {
  content: "\e167";
}
.iw-saved:before {
  content: "\e168";
}
.iw-import:before {
  content: "\e169";
}
.iw-export:before {
  content: "\e170";
}
.iw-send:before {
  content: "\e171";
}
.iw-floppy-disk:before {
  content: "\e172";
}
.iw-floppy-saved:before {
  content: "\e173";
}
.iw-floppy-remove:before {
  content: "\e174";
}
.iw-floppy-save:before {
  content: "\e175";
}
.iw-floppy-open:before {
  content: "\e176";
}
.iw-credit-card:before {
  content: "\e177";
}
.iw-transfer:before {
  content: "\e178";
}
.iw-cutlery:before {
  content: "\e179";
}
.iw-header:before {
  content: "\e180";
}
.iw-compressed:before {
  content: "\e181";
}
.iw-earphone:before {
  content: "\e182";
}
.iw-phone-alt:before {
  content: "\e183";
}
.iw-tower:before {
  content: "\e184";
}
.iw-stats:before {
  content: "\e185";
}
.iw-sd-video:before {
  content: "\e186";
}
.iw-hd-video:before {
  content: "\e187";
}
.iw-subtitles:before {
  content: "\e188";
}
.iw-sound-stereo:before {
  content: "\e189";
}
.iw-sound-dolby:before {
  content: "\e190";
}
.iw-sound-5-1:before {
  content: "\e191";
}
.iw-sound-6-1:before {
  content: "\e192";
}
.iw-sound-7-1:before {
  content: "\e193";
}
.iw-copyright-mark:before {
  content: "\e194";
}
.iw-registration-mark:before {
  content: "\e195";
}
.iw-cloud-download:before {
  content: "\e197";
}
.iw-cloud-upload:before {
  content: "\e198";
}
.iw-tree-conifer:before {
  content: "\e199";
}
.iw-tree-deciduous:before {
  content: "\e200";
}
.iw-cd:before {
  content: "\e201";
}
.iw-save-file:before {
  content: "\e202";
}
.iw-open-file:before {
  content: "\e203";
}
.iw-level-up:before {
  content: "\e204";
}
.iw-copy:before {
  content: "\e205";
}
.iw-paste:before {
  content: "\e206";
}
.iw-alert:before {
  content: "\e209";
}
.iw-equalizer:before {
  content: "\e210";
}
.iw-king:before {
  content: "\e211";
}
.iw-queen:before {
  content: "\e212";
}
.iw-pawn:before {
  content: "\e213";
}
.iw-bishop:before {
  content: "\e214";
}
.iw-knight:before {
  content: "\e215";
}
.iw-baby-formula:before {
  content: "\e216";
}
.iw-tent:before {
  content: "\26fa";
}
.iw-blackboard:before {
  content: "\e218";
}
.iw-bed:before {
  content: "\e219";
}
.iw-apple:before {
  content: "\f8ff";
}
.iw-erase:before {
  content: "\e221";
}
.iw-hourglass:before {
  content: "\231b";
}
.iw-lamp:before {
  content: "\e223";
}
.iw-duplicate:before {
  content: "\e224";
}
.iw-piggy-bank:before {
  content: "\e225";
}
.iw-scissors:before {
  content: "\e226";
}
.iw-bitcoin:before {
  content: "\e227";
}
.iw-btc:before {
  content: "\e227";
}
.iw-xbt:before {
  content: "\e227";
}
.iw-yen:before {
  content: "\00a5";
}
.iw-jpy:before {
  content: "\00a5";
}
.iw-ruble:before {
  content: "\20bd";
}
.iw-rub:before {
  content: "\20bd";
}
.iw-scale:before {
  content: "\e230";
}
.iw-ice-lolly:before {
  content: "\e231";
}
.iw-ice-lolly-tasted:before {
  content: "\e232";
}
.iw-education:before {
  content: "\e233";
}
.iw-option-horizontal:before {
  content: "\e234";
}
.iw-option-vertical:before {
  content: "\e235";
}
.iw-menu-hamburger:before {
  content: "\e236";
}
.iw-modal-window:before {
  content: "\e237";
}
.iw-oil:before {
  content: "\e238";
}
.iw-grain:before {
  content: "\e239";
}
.iw-sunglasses:before {
  content: "\e240";
}
.iw-text-size:before {
  content: "\e241";
}
.iw-text-color:before {
  content: "\e242";
}
.iw-text-background:before {
  content: "\e243";
}
.iw-object-align-top:before {
  content: "\e244";
}
.iw-object-align-bottom:before {
  content: "\e245";
}
.iw-object-align-horizontal:before {
  content: "\e246";
}
.iw-object-align-left:before {
  content: "\e247";
}
.iw-object-align-vertical:before {
  content: "\e248";
}
.iw-object-align-right:before {
  content: "\e249";
}
.iw-triangle-right:before {
  content: "\e250";
}
.iw-triangle-left:before {
  content: "\e251";
}
.iw-triangle-bottom:before {
  content: "\e252";
}
.iw-triangle-top:before {
  content: "\e253";
}
.iw-console:before {
  content: "\e254";
}
.iw-superscript:before {
  content: "\e255";
}
.iw-subscript:before {
  content: "\e256";
}
.iw-menu-left:before {
  content: "\e257";
}
.iw-menu-right:before {
  content: "\e258";
}
.iw-menu-down:before {
  content: "\e259";
}
.iw-menu-up:before {
  content: "\e260";
}
.iw_logo {
  margin: 0 10px;
}
.iw_logo__name {
  margin: 0;
}
.iw_logo__signature {
  letter-spacing: 12px;
}
.iw_text_skin_error {
  color: #faa000;
}
.iw_text_skin_success {
  color: #1cac78;
}
.iw_text_align_right {
  text-align: right;
}
.iw_text_align_left {
  text-align: left;
}
.iw_text_align_center {
  text-align: center;
}
.iw_text_xs {
  font-size: 10px;
}
.iw_text_sm {
  font-size: 12px;
}
.iw_text_md {
  font-size: 14px;
}
.iw_text_lg {
  font-size: 16px;
}
.iw_row {
  clear: both;
  display: table;
  width: 100%;
}
.iw_row_xs {
  padding: 10px 0;
}
.iw_row_sm {
  padding: 15px 0;
}
.iw_row_md {
  padding: 20px 0;
}
.iw_row_lg {
  padding: 25px 0;
}
.iw_col_xs_1,
.iw_col_sm_1,
.iw_col_md_1,
.iw_col_lg_1,
.iw_col_xs_2,
.iw_col_sm_2,
.iw_col_md_2,
.iw_col_lg_2,
.iw_col_xs_3,
.iw_col_sm_3,
.iw_col_md_3,
.iw_col_lg_3,
.iw_col_xs_4,
.iw_col_sm_4,
.iw_col_md_4,
.iw_col_lg_4,
.iw_col_xs_5,
.iw_col_sm_5,
.iw_col_md_5,
.iw_col_lg_5,
.iw_col_xs_6,
.iw_col_sm_6,
.iw_col_md_6,
.iw_col_lg_6,
.iw_col_xs_7,
.iw_col_sm_7,
.iw_col_md_7,
.iw_col_lg_7,
.iw_col_xs_8,
.iw_col_sm_8,
.iw_col_md_8,
.iw_col_lg_8,
.iw_col_xs_9,
.iw_col_sm_9,
.iw_col_md_9,
.iw_col_lg_9,
.iw_col_xs_10,
.iw_col_sm_10,
.iw_col_md_10,
.iw_col_lg_10,
.iw_col_xs_11,
.iw_col_sm_11,
.iw_col_md_11,
.iw_col_lg_11,
.iw_col_xs_12,
.iw_col_sm_12,
.iw_col_md_12,
.iw_col_lg_12 {
  position: relative;
  min-height: 1px;
  float: left;
}
.iw_col_xs_1 {
  width: calc(8.333333333333334% - 10px);
  margin: 5px;
}
.iw_col_xs_2 {
  width: calc(16.666666666666668% - 10px);
  margin: 5px;
}
.iw_col_xs_3 {
  width: calc(25% - 10px);
  margin: 5px;
}
.iw_col_xs_4 {
  width: calc(33.333333333333336% - 10px);
  margin: 5px;
}
.iw_col_xs_5 {
  width: calc(41.66666666666667% - 10px);
  margin: 5px;
}
.iw_col_xs_6 {
  width: calc(50% - 10px);
  margin: 5px;
}
.iw_col_xs_7 {
  width: calc(58.333333333333336% - 10px);
  margin: 5px;
}
.iw_col_xs_8 {
  width: calc(66.66666666666667% - 10px);
  margin: 5px;
}
.iw_col_xs_9 {
  width: calc(75% - 10px);
  margin: 5px;
}
.iw_col_xs_10 {
  width: calc(83.33333333333334% - 10px);
  margin: 5px;
}
.iw_col_xs_11 {
  width: calc(91.66666666666667% - 10px);
  margin: 5px;
}
.iw_col_xs_12 {
  width: calc(100% - 10px);
  margin: 5px;
}
@media (min-width: 768px) {
  .iw_col_sm_1 {
    width: calc(8.333333333333334% - 10px);
    margin: 5px;
  }
  .iw_col_sm_2 {
    width: calc(16.666666666666668% - 10px);
    margin: 5px;
  }
  .iw_col_sm_3 {
    width: calc(25% - 10px);
    margin: 5px;
  }
  .iw_col_sm_4 {
    width: calc(33.333333333333336% - 10px);
    margin: 5px;
  }
  .iw_col_sm_5 {
    width: calc(41.66666666666667% - 10px);
    margin: 5px;
  }
  .iw_col_sm_6 {
    width: calc(50% - 10px);
    margin: 5px;
  }
  .iw_col_sm_7 {
    width: calc(58.333333333333336% - 10px);
    margin: 5px;
  }
  .iw_col_sm_8 {
    width: calc(66.66666666666667% - 10px);
    margin: 5px;
  }
  .iw_col_sm_9 {
    width: calc(75% - 10px);
    margin: 5px;
  }
  .iw_col_sm_10 {
    width: calc(83.33333333333334% - 10px);
    margin: 5px;
  }
  .iw_col_sm_11 {
    width: calc(91.66666666666667% - 10px);
    margin: 5px;
  }
  .iw_col_sm_12 {
    width: calc(100% - 10px);
    margin: 5px;
  }
}
@media (min-width: 992px) {
  .iw_col_md_1 {
    width: calc(8.333333333333334% - 10px);
    margin: 5px;
  }
  .iw_col_md_2 {
    width: calc(16.666666666666668% - 10px);
    margin: 5px;
  }
  .iw_col_md_3 {
    width: calc(25% - 10px);
    margin: 5px;
  }
  .iw_col_md_4 {
    width: calc(33.333333333333336% - 10px);
    margin: 5px;
  }
  .iw_col_md_5 {
    width: calc(41.66666666666667% - 10px);
    margin: 5px;
  }
  .iw_col_md_6 {
    width: calc(50% - 10px);
    margin: 5px;
  }
  .iw_col_md_7 {
    width: calc(58.333333333333336% - 10px);
    margin: 5px;
  }
  .iw_col_md_8 {
    width: calc(66.66666666666667% - 10px);
    margin: 5px;
  }
  .iw_col_md_9 {
    width: calc(75% - 10px);
    margin: 5px;
  }
  .iw_col_md_10 {
    width: calc(83.33333333333334% - 10px);
    margin: 5px;
  }
  .iw_col_md_11 {
    width: calc(91.66666666666667% - 10px);
    margin: 5px;
  }
  .iw_col_md_12 {
    width: calc(100% - 10px);
    margin: 5px;
  }
}
@media (min-width: 1200px) {
  .iw_col_lg_1 {
    width: calc(8.333333333333334% - 10px);
    margin: 5px;
  }
  .iw_col_lg_2 {
    width: calc(16.666666666666668% - 10px);
    margin: 5px;
  }
  .iw_col_lg_3 {
    width: calc(25% - 10px);
    margin: 5px;
  }
  .iw_col_lg_4 {
    width: calc(33.333333333333336% - 10px);
    margin: 5px;
  }
  .iw_col_lg_5 {
    width: calc(41.66666666666667% - 10px);
    margin: 5px;
  }
  .iw_col_lg_6 {
    width: calc(50% - 10px);
    margin: 5px;
  }
  .iw_col_lg_7 {
    width: calc(58.333333333333336% - 10px);
    margin: 5px;
  }
  .iw_col_lg_8 {
    width: calc(66.66666666666667% - 10px);
    margin: 5px;
  }
  .iw_col_lg_9 {
    width: calc(75% - 10px);
    margin: 5px;
  }
  .iw_col_lg_10 {
    width: calc(83.33333333333334% - 10px);
    margin: 5px;
  }
  .iw_col_lg_11 {
    width: calc(91.66666666666667% - 10px);
    margin: 5px;
  }
  .iw_col_lg_12 {
    width: calc(100% - 10px);
    margin: 5px;
  }
}
.iw_modal {
  box-shadow: inset 0 0 12px rgba(0, 255, 255, 0.6);
  border: 1px solid rgba(127, 255, 255, 0.4);
  border-radius: 5px;
  overflow: hidden;
  min-width: 30%;
  margin: 10% 35%;
  position: absolute;
  z-index: 1;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.iw_modal__control {
  padding: 15px;
}
.iw_modal__head {
  font-weight: bold;
  border-bottom: 1px solid rgba(127, 255, 255, 0.4);
  overflow: hidden;
  margin: 10px;
  padding: 10px;
}
.iw_modal__body {
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}
.iw_modal__foot {
  min-height: 12px;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
}
.iw_modal_skin_dark {
  background: rgba(0, 0, 0, 0.4);
}
.iw_modal_size_full {
  width: 99%;
  min-height: 98%;
  margin: 0.5%;
}
.iw_modal_size_xs {
  width: 32%;
  min-height: 19.83333333%;
  margin: 6.03333333% 34%;
}
.iw_modal_size_sm {
  width: 40%;
  min-height: 22%;
  margin: 5.2% 30%;
}
.iw_modal_size_md {
  width: 56.33333333%;
  min-height: 28.16666667%;
  margin: 4.36666667% 21.83333333%;
}
.iw_modal_size_lg {
  width: 64.66666667%;
  min-height: 32.33333333%;
  margin: 3.53333333% 17.66666667%;
}
@media (max-width: 768px) {
  .iw_modal_size_xs {
    width: 60%;
    margin: 4% 20%;
  }
  .iw_modal_size_sm {
    width: 60%;
    margin: 4% 20%;
  }
  .iw_modal_size_md {
    width: 80%;
    margin: 4% 10%;
  }
  .iw_modal_size_lg {
    width: 80%;
    margin: 4% 10%;
  }
}
.iw_btn {
  color: rgba(0, 255, 255, 0.75);
  background: transparent;
  border: 1px solid rgba(127, 255, 255, 0.4);
  border-radius: 4px;
  padding: 8px 10px;
  cursor: pointer;
  text-decoration: none;
  display: inline;
}
.iw_btn:hover {
  color: rgba(0, 255, 255, 0.8);
  background-color: rgba(100, 255, 255, 0.2);
}
.iw_btn:focus {
  outline: none;
  color: rgba(0, 255, 255, 0.9);
  background-color: rgba(100, 255, 255, 0.3);
}
.iw_btn:active {
  outline: none;
  color: rgba(0, 255, 255, 0.7);
  background-color: rgba(100, 255, 255, 0.4);
}
.iw_btn_skin_link {
  cursor: pointer;
  padding: initial;
  border: none;
}
.iw_btn_skin_link:hover {
  color: rgba(0, 255, 255, 0.8);
  background: none;
}
.iw_btn_skin_link:focus {
  outline: none;
  color: rgba(0, 255, 255, 0.9);
  background: none;
}
.iw_btn_skin_link:active {
  outline: none;
  color: rgba(0, 255, 255, 0.7);
  background: none;
}
.iw_input {
  width: calc(100% - 20px);
  height: 30px;
  border-radius: 4px;
  color: rgba(0, 255, 255, 0.75);
  background: transparent;
  border: 1px solid rgba(127, 255, 255, 0.4);
  padding: 0 10px;
  outline: none;
}
.iw_input:hover {
  color: rgba(0, 255, 255, 0.8);
  background-color: rgba(100, 255, 255, 0.2);
}
.iw_input:focus {
  outline: none;
  color: rgba(0, 255, 255, 0.9);
}
.iw_input:active {
  outline: none;
  color: rgba(0, 255, 255, 0.7);
}
.iw_input_error {
  border-bottom: solid 1px #faa000;
}
.iw_input_success {
  border-bottom: solid 1px #1cac78;
}
.iw_error {
  color: #faa000;
  font-size: 10px;
  font-weight: bold;
  padding: 0;
}
.iw_error li {
  list-style-type: none;
}
.iw_group {
  display: table;
  width: 100%;
}
.iw_group__addon {
  display: table-cell;
  width: 1%;
  border-radius: 4px;
  color: rgba(0, 255, 255, 0.7);
  background: transparent;
  border: 1px solid rgba(127, 255, 255, 0.4);
  padding: 0 10px;
}
.iw_group__control {
  width: calc(100% - 20px);
  height: 30px;
  border-radius: 4px;
  color: rgba(0, 255, 255, 0.75);
  background: transparent;
  border: 1px solid rgba(127, 255, 255, 0.4);
  padding: 0 10px;
  outline: none;
}
.iw_group .iw_group__addon:last-child,
.iw_group .iw_group__control:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.iw_group .iw_group__addon:first-child,
.iw_group .iw_group__control:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.iw_group__addon:last-child {
  border-left: 0;
}
.iw_group__addon:first-child {
  border-right: 0;
}
.iw_group .iw_group__control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.iw_group_error .iw_group__addon,
.iw_group_error .iw_group__control {
  border-bottom: solid 1px #faa000;
}
.iw_group_success .iw_group__addon,
.iw_group_success .iw_group__control {
  border-bottom: solid 1px #1cac78;
}
.iw_group_xs {
  padding: 5px;
}
.iw_group_sm {
  padding: 10px;
}
.iw_group_md {
  padding: 15px;
}
.iw_group_lg {
  padding: 20px;
}
.iw_aim {
  background: url('../images/textures/aim/aim.png') no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  position: absolute;
}
.iw_label {
  width: 80px;
  height: 40px;
  color: #FFFFFF;
  font-size: 9px;
  position: absolute;
}
.iw_controls {
  height: 35px;
  padding: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.iw_controls__img {
  width: 100%;
  height: 100%;
}
.iw_controls__action {
  border-radius: 2px;
  border: 1px solid rgba(127, 255, 255, 0.4);
  width: 30px;
  height: 30px;
  margin: 2px;
  cursor: pointer;
}
.iw_controls__action:hover {
  background: rgba(0, 255, 255, 0.2);
}
.iw_controls__action:active {
  opacity: 0.8;
}
.iw_controls__action_disable {
  opacity: 0.8;
  border: solid 1px rgba(127, 255, 255, 0.2);
  cursor: not-allowed;
}
.iw_controls__action_disable:hover {
  background: none;
}
.iw_controls__button {
  width: 22px;
  height: 28px;
}
.iw_controls__text {
  font-size: 9px;
  font-weight: bold;
  color: #ffffff;
  width: 100%;
  padding-left: 2px;
}
.iw_mini-map {
  width: 290px;
  height: 240px;
  border-radius: 4px 0 0 0;
  border-top: 1px solid rgba(127, 255, 255, 0.4);
  border-left: 1px solid rgba(127, 255, 255, 0.4);
  box-shadow: inset 0 0 12px rgba(0, 255, 255, 0.5);
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  background: #000000;
  padding: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.iw_mini-map__top {
  height: 23px;
}
.iw_mini-map__center {
  height: 194px;
}
.iw_mini-map__bottom {
  height: 23px;
}
.iw_mini-map__actions {
  border-radius: 2px;
  border: 1px solid rgba(127, 255, 255, 0.4);
  padding: 2px 6px;
  cursor: pointer;
  font-size: 14px;
}
.iw_mini-map__actions:hover {
  background: rgba(0, 255, 255, 0.2);
}
.iw_mini-map__actions:active {
  opacity: 0.8;
}
.iw_mini-map__actions_disable {
  opacity: 0.8;
  border: solid 1px rgba(127, 255, 255, 0.2);
  cursor: not-allowed;
}
.iw_mini-map__actions_disable:hover {
  background: none;
}
.iw_mini-map__actions_left {
  float: left;
  margin-right: 2px;
}
.iw_mini-map__actions_right {
  float: right;
  margin-left: 2px;
}
.iw_progress {
  color: #F00;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000000;
}
.iw_progress__top {
  top: 10px;
  position: relative;
}
.iw_progress__center {
  top: 49%;
  position: relative;
}
.iw_progress__bottom {
  bottom: 10px;
  position: relative;
}
.iw_flask_v {
  height: 35px;
  width: 18px;
  float: left;
  margin: 2px;
  border-radius: 3px;
  border: 1px solid rgba(127, 255, 255, 0.4);
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.iw_flask_v_size_mini {
  height: 24px;
  width: 2px;
}
.iw_flask_v_size_xs {
  height: 25px;
  width: 10px;
}
.iw_flask_v_size_sm {
  height: 33px;
  width: 18px;
}
.iw_flask_v_size_md {
  height: 41px;
  width: 26px;
}
.iw_flask_v_size_lg {
  height: 49px;
  width: 34px;
}
.iw_flask_v__range {
  background: rgba(100, 255, 255, 0.2);
  border-radius: 0 0 2px 2px;
  height: 50%;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.iw_flask_v__range_orange {
  background: #FF9900;
}
.iw_flask_v__range_blue {
  background: #008AFA;
}
.iw_flask_v__range_red {
  background: #C10020;
}
.iw_flask_v__range_silver {
  background: #C0C0C0;
}
.iw_flask_v__range_white {
  background: #FFFFFF;
}
.iw_flask_v__range_size_0 {
  height: 0%;
}
.iw_flask_v__range_size_5 {
  height: 5%;
}
.iw_flask_v__range_size_10 {
  height: 10%;
}
.iw_flask_v__range_size_15 {
  height: 15%;
}
.iw_flask_v__range_size_20 {
  height: 20%;
}
.iw_flask_v__range_size_25 {
  height: 25%;
}
.iw_flask_v__range_size_30 {
  height: 30%;
}
.iw_flask_v__range_size_35 {
  height: 35%;
}
.iw_flask_v__range_size_40 {
  height: 40%;
}
.iw_flask_v__range_size_45 {
  height: 45%;
}
.iw_flask_v__range_size_50 {
  height: 50%;
}
.iw_flask_v__range_size_55 {
  height: 55%;
}
.iw_flask_v__range_size_60 {
  height: 60%;
}
.iw_flask_v__range_size_65 {
  height: 65%;
}
.iw_flask_v__range_size_70 {
  height: 70%;
}
.iw_flask_v__range_size_75 {
  height: 75%;
}
.iw_flask_v__range_size_80 {
  height: 80%;
}
.iw_flask_v__range_size_85 {
  height: 85%;
}
.iw_flask_v__range_size_90 {
  height: 90%;
}
.iw_flask_v__range_size_95 {
  height: 95%;
}
.iw_flask_v__range_size_100 {
  height: 100%;
  border-radius: 2px;
}
.iw_flask_h {
  height: 10px;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid rgba(127, 255, 255, 0.4);
  -moz-user-select: none;
  -webkit-user-select: none;
}
.iw_flask_h_size_xs {
  height: 5px;
}
.iw_flask_h_size_sm {
  height: 10px;
}
.iw_flask_h_size_md {
  height: 15px;
}
.iw_flask_h_size_lg {
  height: 20px;
}
.iw_flask_h__range {
  height: 100%;
  background: rgba(100, 255, 255, 0.2);
  border-radius: 2px;
}
.iw_flask_h__range_orange {
  background: #FF9900;
}
.iw_flask_h__range_blue {
  background: #008AFA;
}
.iw_flask_h__range_red {
  background: #C10020;
}
.iw_flask_h__range_silver {
  background: #C0C0C0;
}
.iw_flask_h__range_size_0 {
  width: 0%;
}
.iw_flask_h__range_size_5 {
  width: 5%;
}
.iw_flask_h__range_size_10 {
  width: 10%;
}
.iw_flask_h__range_size_15 {
  width: 15%;
}
.iw_flask_h__range_size_20 {
  width: 20%;
}
.iw_flask_h__range_size_25 {
  width: 25%;
}
.iw_flask_h__range_size_30 {
  width: 30%;
}
.iw_flask_h__range_size_35 {
  width: 35%;
}
.iw_flask_h__range_size_40 {
  width: 40%;
}
.iw_flask_h__range_size_45 {
  width: 45%;
}
.iw_flask_h__range_size_50 {
  width: 50%;
}
.iw_flask_h__range_size_55 {
  width: 55%;
}
.iw_flask_h__range_size_60 {
  width: 60%;
}
.iw_flask_h__range_size_65 {
  width: 65%;
}
.iw_flask_h__range_size_70 {
  width: 70%;
}
.iw_flask_h__range_size_75 {
  width: 75%;
}
.iw_flask_h__range_size_80 {
  width: 80%;
}
.iw_flask_h__range_size_85 {
  width: 85%;
}
.iw_flask_h__range_size_90 {
  width: 90%;
}
.iw_flask_h__range_size_95 {
  width: 95%;
}
.iw_flask_h__range_size_100 {
  width: 100%;
}
