<div class="indicators">
    <div class="indicators_sign">
        <i class="fa fa-window-minimize"></i>
    </div>

    <div class="indicators_sign">
        <i class="fa fa-window-restore"></i>
    </div>

    <div class="indicators_sign">
        <i class="fa fa-window-restore"></i>
    </div>

    <div class="indicators_sign">
        <i class="fa fa-window-restore"></i>
    </div>
</div>