<div class="indicators">

    <% for (let i = 0; i < options.length; i++) { %>

        <% let icon = options[i]['icon']; %>
        <% let id = options[i]['id']; %>

        <div class="indicators_sign" data-action="<%= id %>">
            <i class="fa <%= icon %>"></i>
        </div>
    <% } %>
</div>