.model {
  overflow: hidden;
  border: 1px solid @color_base_dark;
  margin: @margin_md;
  background: @background_color_dark;

  &__container {
    text-align: center;

    &_img {
      width: ~"calc(80% - 16px)";
      margin: @margin_md;
    }
  }

  &__information {
    margin: @margin_md;
    overflow: hidden;

    &_item {
      border: 1px solid @color_base_dark;
      min-height: 60px;
      margin-bottom: @margin_md;
    }
  }
}