<div class="informer informer_xs">
    <div class="informer__title">Warning:</div>
    <ul>
        <% for (let message of options.messages) { %>
        <li>
            <i class="fa fa-exclamation-triangle informer__icon informer__icon_warning"></i>
            <span><%= message %></span>
        </li>
        <% } %>
    </ul>
</div>
