<template data-extend="/container/default/index.html" data-extend-container="default">

    <div class="iw_modal iw_modal_size_sm iw_modal_skin_hidden iw_hidden" id="iw_block_navigation">
        <div class="iw_btn iw_btn_block iw_btn_block_half iw_hidden" id="iw_show_sign_in">Sign In</div>
        <div class="iw_btn iw_btn_block iw_btn_block_half iw_hidden" id="iw_show_registration">Registration</div>
        <div class="iw_btn iw_btn_block iw_btn_block_half iw_hidden" id="iw_show_logout">Logout</div>
        <a class="iw_btn iw_btn_block iw_btn_block_half iw_hidden" href="/home" id="iw_show_home">Space station</a>
        <div class="iw_btn iw_btn_block iw_btn_block_half" id="iw_show_preview">Preview</div>
    </div>

    <div id="iw_canvas_preview" class="iw_fixed_0_0"></div>

    <script src="/app/view/controller/main/navigation.js"></script>

</template>
