<div id="iw-block-login" class="hidden">
    <div class="sw-modal sw-modal-skin-star well-sm">

        <div class="sw-modal-head">

            <div class="pull-left">
                <span>Login</span>
            </div>

            <div class="pull-right sw-link">
                <span data-iw-action="switch" data-iw-hide="#iw-block-login" data-iw-show="#iw-block-registration"><i class="glyphicon glyphicon-registration-mark"></i> Registration </span>
            </div>

        </div>

        <div class="sw-modal-body">

            <form class="bs-example bs-example-form" id="form_login" role="form" action="" method="POST">

                <div class="form-group">
                    <label for="a_username"> Username </label>
                    <span class="sw-star">*</span>
                    <div class="sw-field input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" class="form-control" name="username" id="a_username" placeholder="Username" autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <label for="a_password"> Password </label>
                    <span class="sw-star">*</span>
                    <div class="input-group sw-field">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                        <input type="password" class="form-control" name="password" id="a_password" placeholder="Password" autocomplete="off">
                    </div>
                </div>

                <div class="form-group">

                    <label for="a_remember_me">Remember</label>
                    <input type="checkbox" name="_remember_me" id="a_remember_me">

                    <div class="pull-right">
                        <button type="button" class="sw-btn btn-xs" id="_send_form">
                            <i class="glyphicon glyphicon-log-in"></i>
                            Login
                        </button>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12">

                        <ul class="sw-block-errors sw-text-error" id="login_error">
                            <!--{% if error %}-->
                            <!--<li><i class="glyphicon glyphicon-exclamation-sign"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</li>-->
                            <!--{% endif %}-->
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="iw-block-registration" class="hidden">
    <template data-include="authorisation/registration.html"></template>
</div>

<script type="application/javascript">
    var username = 'username';
    var password = 'password';
    var btn = document.getElementById('_send_form');

    var validation = new IW.Validation('#form_login');
    validation.addEventCheckAll('click', btn);
    validation.addEventCheckAll('keyup', 'input');
    validation.addGroupMarker('span');

    validation.addRile(username, {
        required: true,
        max: 25,
        min: 6,
        label: 'Username'
    });

    validation.addRile(password, {
        required: true,
        max: 25,
        min: 6,
        isSame: username,
        label: 'Password'
    });

    validation.setCallbackSuccess(function (element) {
        if (element == btn) {
//            document.getElementById('form_login').submit();
        }
    });

    validation.messagesAppendTo('#login_error');
    validation.listen();

    var elementsAction = document.querySelectorAll('[data-iw-action]');
    for (var i = 0; i < elementsAction.length; i++) {
        elementsAction[i].addEventListener('click', function () {
            switch (this.getAttribute('data-iw-action')){
                case 'switch':
                    var elementsHide = document.querySelectorAll(this.getAttribute('data-iw-hide'));
                    var elementsShow = document.querySelectorAll(this.getAttribute('data-iw-show'));
                    var a;
                    for (a = 0; a < elementsHide.length; a++) {
                        elementsHide[a].classList.add('hidden');
                    }
                    for (a = 0; a < elementsShow.length; a++) {
                        elementsShow[a].classList.remove('hidden');
                    }
                    break;
            }
        });
    }
</script>
