<div class="sw-modal sw-modal-size-6 sw-modal-skin-star well-sm">

    <div class="sw-modal-head">

        <div class="pull-left sw-link">
            <span>IronWar</span>
        </div>

        <div class="pull-right sw-link">
            <span data-iw-action="switch" data-iw-hide="#iw-block-registration" data-iw-show="#iw-block-login"><i class="glyphicon glyphicon-log-in"></i> Login </span>
        </div>

    </div>

    <div class="sw-modal-body">
        <form class="bs-example bs-example-form" id="form_reg" role="form" action="" method="POST">

            <div class="row">
                <div class="col-lg-6">

                    <div class="form-group">
                        <label for="r_username"> Username </label>
                        <span class="sw-star">*</span>
                        <div class="sw-field input-group sw-input-status">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>

                            <input type="text" class="form-control" required name="username" id="r_username" placeholder="Username" autocomplete="off">
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">

                    <div class="form-group">
                        <label for="r_email"> Email </label>
                        <span class="sw-star">*</span>
                        <div class="sw-field input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </span>
                            <input type="text" class="form-control" required name="email" id="r_email" placeholder="Email" autocomplete="off">
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">

                    <div class="form-group">
                        <label for="r_password"> Password </label>
                        <span class="sw-star">*</span>
                        <div class="sw-field input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input type="password" class="form-control" required name="password" id="r_password" placeholder="********" autocomplete="off">
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">

                    <div class="form-group">
                        <label for="r_confirm_password"> Confirm Password </label>
                        <span class="sw-star">*</span>
                        <div class="sw-field input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input type="password" class="form-control" required name="confirm_password" id="r_confirm_password" placeholder="********" autocomplete="off">
                        </div>
                    </div>

                </div>
            </div>


            <div class="form-group">

                <div class="pull-right">
                    <button type="button" class="sw-btn btn-xs" id="_send_form">
                        <i class="glyphicon glyphicon-save"></i>
                        Apply
                    </button>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-lg-12">

                    <ul class="sw-block-errors sw-text-error" id="reg_error">
                        <!--{% for error in errors %}-->
                        <!--<li><i class="glyphicon glyphicon-exclamation-sign"></i> {{ error.propertyPath|capitalize }}: {{ error.message }}</li>-->
                        <!--{% endfor %}-->
                    </ul>

                </div>
            </div>
        </form>
    </div>

</div>

<script>

    var btn = document.getElementById('_send_form');
    var validation = new IW.Validation('#form_reg');
    validation.addEventCheckAll('click', btn);
    validation.addEventCheckAll('keyup', 'input');

    validation.addGroupMarker('span');

    btn.addEventListener('click', function() {
        console.log(1);
    });

    validation.addRile('username', {
        required: true,
        max: 25,
        min: 6,
        label: 'Username'
    });

    validation.addRile('email', {
        required: true,
        max: 60,
        min: 5,
        label: 'Email'
    });

    validation.addRile('password', {
        required: true,
        max: 25,
        min: 6,
        isMatch: 'username',
        label: 'Password'
    });

    validation.addRile('confirm_password', {
        required: true,
        isMatch: 'username',
        isNotSame: 'password',
        label: 'Confirm Password'
    });

    validation.setCallbackSuccess(function (element) {
        if (element == btn) {
//            document.getElementById('form_reg').submit();
        }
    });

    validation.messagesAppendTo('#reg_error');
    validation.listen();
</script>
