<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Iron War</title>
        <link rel="icon" type="image/x-icon" href="/src/img/iron-war.ico" />

        <%- include ./layout/header.ejs %>

    </head>
    <body>

        <%- content %>

    </body>
</html>

