<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Iron War</title>
        <link rel="icon" type="image/x-icon" href="/src/img/iron-war.ico" />

        <link href="/src/css/bundle.min.css" rel="stylesheet" />

    </head>
    <body>

        <%- content %>

        <script type="application/javascript" src="/src/js/bundle.min.js"></script>

    </body>
</html>

