{% extends 'iw.html.twig' %}

{% block container %}

    <div id="iw-container"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="application/javascript">

        document.addEventListener('DOMContentLoaded', function () {

            var map = {
                path: '{{ asset('/images/textures/galaxy/A/') }}',
                names: ['dark-s-px', 'dark-s-nx', 'dark-s-py', 'dark-s-ny', 'dark-s-pz', 'dark-s-nz'],
                extension: '.png'
            };

            var multiLoader = new IW.MultiLoader();
            var initScene = new IW.SceneControls( multiLoader, 'iw-container', false );
            initScene.setOpacity( 0 );

            multiLoader.setPositionProgress( IW.ProgressBar.POSITION_B, 50 );
            multiLoader.hideLabelProgress();

            // UPLOAD TEXTURES MAP
            for ( var i = 0; i < map.names.length; i++ ) {
                var lbl = 'label - texture ' + map.names[ i ];
                multiLoader.addLoadTexture( map.names[ i ], lbl, map.path + map.names[ i ] + map.extension );
            }

            // UPLOAD OBJECTS SHIPS
            multiLoader.addLoadOBJ( IW.SceneControls.MODEL_S1_A, 'label - object', '{{asset('/models/S1/A/')}}', 'starship.obj', 'starship.mtl' );

            multiLoader.setLoadedCallback( function ( params ) {
                switch ( params.name ) {

                    case IW.SceneControls.MODEL_S1_A:
                        params.object.rotation.y = Math.PI;
                        params.object.scale.copy( new THREE.Vector3( 0.1, 0.1, 0.1 ) );
                        initScene.scene.add( params.object );
                        break;
                }
            } );

            multiLoader.load(function () {

                initScene.initScene();
                initScene.map( map );

                var start = 0;
                var idInterval = setInterval( function () {
                    start += 0.001;
                    initScene.setOpacity( start );
                    if ( start >= 1 ) {
                        initScene.setOpacity( 1 );
                        clearInterval( idInterval );
                    }
                }, 5 );
            });
        });

    </script>

{% endblock %}
