<div data-template="control" id="sw-panel-control">
    <div id="sw-block-actions">
        <div data-template="action" class="sw-action sw-action-active hidden">
            <div class="sw-action-keyword"></div>
            <img class="sw-action-img" src="#">
        </div>
    </div>
    <div id="sw-block-status">
        <div data-template="status" class="hidden">
            <div class="sw-status-progress"><div></div></div>
            <div class="sw-status-text">
                <div class="sw-status-name"></div>
                <div class="sw-status-current"></div>
                <div class="sw-status-name">/</div>
                <div class="sw-status-max"></div>
            </div>
        </div>
    </div>
</div>