<ul class="nav nav-pills pull-right sw-naw">
    <li class="sw-active">
        <a href="{{ path( 'play_index' ) }}" class="sw-btn">
            <i class="glyphicon glyphicon-play"></i>
            IW
        </a>
    </li>
    <li>
        <a href="{{ path( '_logout' ) }}" class="sw-btn">
            <i class="glyphicon glyphicon-log-out"></i>
            {{ '_LOGOUT'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('_registration') }}" class="sw-btn">
            <i class="glyphicon glyphicon-registration-mark"></i>
            {{ '_REGISTRATION'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path( '_login' ) }}" class="sw-btn">
            <i class="glyphicon glyphicon-log-in"></i>
            {{ '_LOGIN'|trans }}
        </a>
    </li>
</ul>
