<ul class="nav nav-pills pull-right sw-naw">
    <li class="">
        <button class="sw-btn">
            <i class="glyphicon glyphicon-play"></i>
            IW
        </button>
    </li>
    <li>
        <button class="sw-btn">
            <i class="glyphicon glyphicon-log-out"></i>
            Logout
        </button>
    </li>
    <li>
        <button class="sw-btn" data-iw-action="switch" data-iw-hide="#iw-block-login" data-iw-show="#iw-block-registration">
            <i class="glyphicon glyphicon-log-in"></i>
            Login
        </button>
    </li>
    <li>
        <button class="sw-btn" data-iw-action="switch" data-iw-hide="#iw-block-registration" data-iw-show="#iw-block-login">
            <i class="glyphicon glyphicon-registration-mark"></i>
            Registration
        </button>
    </li>
</ul>
