.panel {
  &_folding {
    border: 1px solid @color_base_dark;
    margin: 4px 0;


    &__title {
      padding: 5px;
      background: @background_color_light;
      overflow: hidden;

      &_icon {
        margin: 0 5px;
      }
    }

    &__body {
      min-height: 50px;
      background: @background_color_dark;
    }
  }
}