.indicators {
  z-index: 5;

  &_sign {
    float: left;
    border: @border_xs solid @color_base;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: @padding_sm;
    font-size: @font_size_sm;
    background: @background_color_dark;
    width: 12px;
    height: 12px;

    &:hover {
      background: @background_color_light;
      cursor: pointer;
    }
  }
}