<div class="cover">
    <div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">
        <div class="modal modal_alert modal_size_xs modal_skin_dark modal_animation">
            <div class="modal__head">
                <div class="col_xs_10 col_sm_10 col_md_10 col_lg_10">
                    <i class="fa fa-warning"></i>
                    <span><%= options.title %></span>
                </div>
                <div class="col_xs_2 col_sm_2 col_md_2 col_lg_2 text-r">
                    <i class="fa fa-close modal__head_btn btn btn_xs btn_skin_link" data-action="close"></i>
                </div>
            </div>

            <div class="modal__body">
                <span><%= options.msg %></span>
            </div>

            <div class="modal__foot">
                <div class="block_right">
                    <button class="btn" data-action="yes">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>