.iw_input {
  .input();

  &:hover {
    color: @form_font_color_h;
    background-color: @background_color_h;
  }

  &:focus {
    outline: none;
    color: @form_font_color_f;
  }

  &:active {
    outline: none;
    color: @form_font_color_a;
  }

  &_error {
    border-bottom: solid 1px @form_coror_important;
  }

  &_success {
    border-bottom: solid 1px @form_coror_success;
  }
}
