<% extend('../../index.ejs'); %>

<div class="page">
    <div id="initialisation_main_scene"></div>
    <div id="initialisation_main_elements" class="page__container">
        <span class="page__container_info">The page of tests</span>

        <% var options = {title: 'Alert', msg: 'Message'}; %>
        <%- include ./../../components/window/alert.ejs %>
    </div>
</div>