<ul class="navbar_vertical navbar_vertical_sm">
    <li class="navbar_vertical__logo">
        <span>IronWar</span>
    </li>
    <li>
        <i class="fa fa-home"></i>
        <span>Test - 2</span>
    </li>
    <li>
        <i class="fa fa-home"></i>
        <span>Test - 2</span>
    </li>
</ul>
