
<div class="tab">
    <div class="tab__head">
        <div class="tab__head_item" data-action="1">Tab - 1</div>
        <div class="tab__head_item" data-action="2">Tab - 2</div>
        <div class="tab__head_item" data-action="3">Tab - 3</div>
        <div class="tab__head_item" data-action="4">Tab - 4</div>
    </div>
    <div class="tab__content">
        <div class="tab__content_item tab__content_item_active" data-block="1">Content - 1</div>
        <div class="tab__content_item" data-block="2">Content - 2</div>
        <div class="tab__content_item" data-block="3">Content - 3</div>
        <div class="tab__content_item" data-block="4">Content - 4</div>
    </div>
</div>