{% extends 'iw/iw.html.twig' %}

{% block swbody %}

    {% trans_default_domain 'auth' %}


    It is user page

    <div id="iw-container"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}