<div id="iw_home">
    <template data-extend="/container/default/index.html" data-extend-container="default">

        <div class="iw_row_lg">

            <div class="iw_col_xs_3 iw_col_sm_2 iw_col_md_1 iw_col_lg_1">
                <div class="iw_btn iw_btn_block">Space station</div>
            </div>
            <div class="iw_col_xs_3 iw_col_sm_2 iw_col_md_1 iw_col_lg_1">
                <div class="iw_btn iw_btn_block">Ships</div>
            </div>
            <div class="iw_col_xs_3 iw_col_sm_2 iw_col_md_1 iw_col_lg_1">
                <div class="iw_btn iw_btn_block">Map</div>
            </div>
            <div class="iw_col_xs_3 iw_col_sm_2 iw_col_md_1 iw_col_lg_1">
                <div class="iw_btn iw_btn_block">Settings</div>
            </div>

            <div class="iw_col_xs_3 iw_col_sm_2 iw_col_md_1 iw_col_lg_1">
                <div class="iw_btn iw_btn_block" id="iw_to_space">To Space</div>
            </div>

        </div>

        <script src="/app/view/controller/home/user_controls.js"></script>

    </template>
</div>

<div id="iw_elements_play" class="iw_position_a"></div>
<div id="iw_canvas_play" class="iw_position_a"></div>
