
<div class="iw_modal iw_modal_size_xs iw_hidden iw_hide_a">

    <div class="iw_modal__head">
        <div class="iw_block_left iw_col_sm_10 iw_col_xs_10 iw_col_md_10 iw_col_lg_10">
            <span>IronWar</span>
        </div>
        <div class="iw_block_right iw_text_align_right iw_col_sm_2 iw_col_xs_2 iw_col_md_2 iw_col_lg_2">
            <span class="iw_btn iw_btn_skin_link" data-action="action-close-menu">
                <i class="iw iw-remove iw_text_md"></i>
            </span>
        </div>
    </div>

    <div class="iw_modal__body">

        <div class="iw_row iw_row_border">
            <div class="iw_col_sm_1 iw_col_xs_1 iw_col_md_1 iw_col_lg_1 iw_text_align_center">
                <a class="iw iw-home" href="/"></a>
            </div>
            <div class="iw_col_sm_3 iw_col_xs_3 iw_col_md_3 iw_col_lg_3">asdsad</div>
            <div class="iw_col_sm_8 iw_col_xs_8 iw_col_md_8 iw_col_lg_8">asdsad</div>
        </div>

        <div class="iw_row iw_row_border">
            <div class="iw_col_sm_1 iw_col_xs_1 iw_col_md_1 iw_col_lg_1 iw_text_align_center">
                <a class="iw iw-home" href="/"></a>
            </div>
            <div class="iw_col_sm_3 iw_col_xs_3 iw_col_md_3 iw_col_lg_3">asdsad</div>
            <div class="iw_col_sm_8 iw_col_xs_8 iw_col_md_8 iw_col_lg_8">asdsad</div>
        </div>

        <div class="iw_row iw_row_border">
            <div class="iw_col_sm_1 iw_col_xs_1 iw_col_md_1 iw_col_lg_1 iw_text_align_center">
                <a class="iw iw-home" href="/"></a>
            </div>
            <div class="iw_col_sm_3 iw_col_xs_3 iw_col_md_3 iw_col_lg_3">asdsad</div>
            <div class="iw_col_sm_8 iw_col_xs_8 iw_col_md_8 iw_col_lg_8">asdsad</div>
        </div>

        <div class="iw_row iw_row_border">
            <div class="iw_col_sm_1 iw_col_xs_1 iw_col_md_1 iw_col_lg_1 iw_text_align_center">
                <a class="iw iw-home" href="/"></a>
            </div>
            <div class="iw_col_sm_3 iw_col_xs_3 iw_col_md_3 iw_col_lg_3">asdsad</div>
            <div class="iw_col_sm_8 iw_col_xs_8 iw_col_md_8 iw_col_lg_8">asdsad</div>
        </div>

    </div>
</div>
