<div class="custom_range">

    <div class="col_xs_12 col_sm_12 col_md_4 col_lg_4">
        <div class="custom_range__label text_l_xs text_l_sm text_r_md text_r_lg">
            <span>Armor:</span>
        </div>
    </div>

    <div class="col_xs_12 col_sm_12 col_md_8 col_lg_8">
        <div class="custom_range__btn btn btn_xs">
            <i class="fa fa-minus"></i>
        </div>

        <div class="custom_range__scale">
            <div class="custom_range__scale_values">
                <div class="custom_range__scale_values_min">1000</div>
                <div class="custom_range__scale_values_max">2000</div>
            </div>
            <div class="custom_range__scale_bulb">
                <div class="custom_range__scale_bulb_percent"></div>
            </div>
        </div>

        <div class="custom_range__btn btn btn_xs">
            <i class="fa fa-plus"></i>
        </div>

        <input type="hidden" value="">
    </div>


</div>