<div class="custom_range">
    <div class="custom_range__btn btn btn_xs">
        <i class="fa fa-minus"></i>
    </div>

    <div class="custom_range__scale">
        <div class="custom_range__scale_values">
            <div class="custom_range__scale_values_min">1000</div>
            <div class="custom_range__scale_values_max">2000</div>
        </div>
        <div class="custom_range__scale_bulb">
            <div class="custom_range__scale_bulb_percent"></div>
        </div>
    </div>

    <div class="custom_range__btn btn btn_xs">
        <i class="fa fa-plus"></i>
    </div>

    <input type="text">
</div>