<% extend('../index.ejs'); %>

<div class="page">
    <div id="initialisation_main_scene"></div>
    <div id="initialisation_main_elements" class="page__container">
        <span class="page__container_info">The page is being developed</span>
    </div>
</div>

<%- include ./../layout/footer.ejs %>
