<div class="main-container">
    <div id="iw-main-block-preview" class="iw-block-preview"></div>
    <div class="sw-modal iw-block-preview sw-modal-size-12">
        <div class="sw-modal-head">
            <div class="header">

                <div data-include="navigation/main-menu.html"></div>

                <div class="sw-logo">
                    <h2 class=""><a href="">IronWar</a></h2>
                    <small> ONLINE </small>
                </div>

            </div>
        </div>
        <div class="sw-modal-body" id="iw-main-container-body"></div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tpl = new IW.Templates();
        tpl.load( 'authorisation/login.html', function ( str ) {
            tpl.paste('#iw-main-container-body', str);
        } );

        tpl.load( 'pages/preview.html', function ( str ) {
            tpl.paste('#iw-main-block-preview', str);
        } );
    });
</script>
