<div>
    <div id="iw-main-block-preview">
        <template data-block="iw-block-preview"></template>
    </div>

    <div class="iw_modal iw_size_modal_6">

        <div class="iw_modal__head">

            <div class="iw_logo iw_pull_left">
                <h2 class="iw_logo__name"><a href="">IronWar</a></h2>
                <small class="iw_logo__signature"> ONLINE </small>
            </div>

            <template data-include="navigation/main-menu.html"></template>

        </div>

        <div class="iw_modal__body" id="iw-main-container-body"></div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tpl = new IW.Templates();
        tpl.load( 'authorisation/login.html', function ( str ) {
            tpl.paste('#iw-main-container-body', str);
        } );
    });
</script>
