<div class="menu_general">

    <div class="menu_general__item">
        <i class="fa fa-bars"></i>
    </div>

    <div class="menu_general__content">

        <% let params = {title: 'Login to IronWar'}; %>
        <% let content = `
            <ul>
                <li>asdasdasd</li>
                <li>asdasdasd</li>
                <li>asdasdasd</li>
                <li>asdasdasd</li>
                <li>asdasdasd</li>
                <li>asdasdasd</li>
                <li>asdasdasd</li>
                <li>asdasdasd</li>
                <li>asdasdasd</li>
            </ul>
        `; %>


        <% include ../window/desktop_sm.ejs %>

    </div>
</div>