<div class="menu_general">

    <div class="menu_general__item">
        <i class="fa fa-bars"></i>
    </div>

    <div class="menu_general__cover">

        <div class="menu_general__content">

            <div class="menu_general__header">
                <h2>Main Menu IronWar</h2>
            </div>

            <ul class="menu_general__body">
                <li>Login</li>
                <li>Registration</li>
                <li>Logout</li>
                <li>Close Menu</li>
            </ul>
        </div>

    </div>
</div>