<ul class="navbar_horizontal navbar_horizontal_right navbar_horizontal_sm">
    <li title="Sign in" class="hint">
        <a href="/">
            <i class="fa fa-lock"></i>
        </a>
    </li>
    <li title="Sign out" class="hint">
        <a href="/">
            <i class="fa fa-unlock"></i>
        </a>
    </li>
</ul>
