<ul class="navbar_vertical navbar_vertical_sm">
    <li class="navbar_vertical__logo">
        <span>IronWar</span>
    </li>
    <li>
        <i class="fa fa-home"></i>
        <span>Test - 2</span>
    </li>
    <li>
        <i class="fa fa-home"></i>
        <span>Test - 2</span>
    </li>
</ul>



<!--<div class="grid">-->
    <!--<div class="grid__cell">-->
        <!--<a href="/" class="grid__octagon">-->
            <!--<i class="fa fa-lock"></i>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="grid__cell">-->
        <!--<div class="grid__octagon">-->
            <!--<i class="fa fa-unlock"></i>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
