
<div class="row row_md">
    <div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">
        <div class="btn"><i class="fa fa-play"></i> To space</div>
    </div>
</div>

<div class="row row_md">
    <div class="col_xs_12 col_sm_4 col_md_3 col_lg_2">
        <div class="row">

            <%- include ./dock_information.ejs %>

        </div>
    </div>
    <div class="col_xs_12 col_sm_8 col_md_9 col_lg_10">

        <div class="row">
            <div class="col_xs_12 col_sm_12 col_md_6 col_lg_7">
                <div data-block="model">
                    <!-- Model info -->
                    <%- include ./../../model/model.ejs %>
                </div>
            </div>

            <div class="col_xs_12 col_sm_12 col_md_6 col_lg_5" data-block="folding"></div>
        </div>

    </div>
</div>

