<div class="row">
    <div class="col_xs_12 col_sm_12 col_md_6 col_lg_7">
        <div class="model">
            <div class="model_performance">
                asass
            </div>
        </div>
    </div>
    <div class="col_xs_12 col_sm_12 col_md_6 col_lg_5">
        <%- include ./dock_model_parameters.ejs %>
    </div>
</div>