<div class="panel">
    <div class="panel_folding">
        <div class="panel_folding__title">
            <div class="col_xs_11 col_sm_11 col_md_11 col_lg_11">
                <i class="fa fa-info-circle panel_folding__title_icon"></i>
                <span>General</span>
            </div>
            <div class="col_xs_1 col_sm_1 col_md_1 col_lg_1 text-c">
                <i class="fa fa-plus-square-o btn btn_xs btn_skin_link"></i>
                <!--<i class="fa fa-minus-square-o btn btn_xs btn_skin_link"></i>-->
            </div>
        </div>
        <div class="panel_folding__body">

        </div>
    </div>

    <div class="panel_folding">
        <div class="panel_folding__title">
            <div class="col_xs_11 col_sm_11 col_md_11 col_lg_11">
                <i class="fa fa-rocket panel_folding__title_icon"></i>
                <span>Attack</span>
            </div>
            <div class="col_xs_1 col_sm_1 col_md_1 col_lg_1 text-c">
                <i class="fa fa-plus-square-o btn btn_xs btn_skin_link"></i>
            </div>
        </div>
        <div class="panel_folding__body"></div>
    </div>

    <div class="panel_folding">
        <div class="panel_folding__title">
            <div class="col_xs_11 col_sm_11 col_md_11 col_lg_11">
                <i class="fa fa-shield panel_folding__title_icon"></i>
                <span>Armor</span>
            </div>
            <div class="col_xs_1 col_sm_1 col_md_1 col_lg_1 text-c">
                <i class="fa fa-plus-square-o btn btn_xs btn_skin_link"></i>
            </div>
        </div>
        <div class="panel_folding__body"></div>
    </div>
</div>