<div class="col_xs_12 col_sm_12 col_md_12 col_lg_6">
    <div class="row">
        <div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">
            <span>Station: </span>
            <span>Space Earth</span>
        </div>
    </div>
    <div class="row">
        <div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">
            <span>Station: </span>
            <span>Space Earth</span>
        </div>
    </div>
    <div class="row">
        <div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">
            <span>Station: </span>
            <span>Space Earth</span>
        </div>
    </div>
    <div class="row">
        <div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">
            <span>Station: </span>
            <span>Space Earth</span>
        </div>
    </div>
</div>