
<div class="row row_md">
    <div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">
        <div class="btn"><i class="fa fa-play"></i>Start</div>
    </div>
</div>

<div class="row row_md">
    <div class="col_xs_12 col_sm_4 col_md_4 col_lg_4">
        <div class="row">


            <div class="table table_sm">
                <div class="table__row">
                    <div class="table__cell">Space station name: </div>
                    <div class="table__cell">MyName</div>
                    <div class="table__cell">
                        <i class="fa fa-edit btn btn_skin_link btn_xs"></i>
                    </div>
                </div>

                <div class="table__row">
                    <div class="table__cell">Located in sector: </div>
                    <div class="table__cell">Sector I</div>
                    <div class="table__cell">
                        <i class="fa fa-edit btn btn_skin_link btn_xs"></i>
                    </div>
                </div>

                <div class="table__row">
                    <div class="table__cell">Coordinates: </div>
                    <div class="table__cell">

                        <div class="table table_sm">
                            <div class="table__row">
                                <div class="table__cell">X:</div>
                                <div class="table__cell">1000</div>
                            </div>

                            <div class="table__row">
                                <div class="table__cell">Y:</div>
                                <div class="table__cell">1000</div>
                            </div>

                            <div class="table__row">
                                <div class="table__cell">Z:</div>
                                <div class="table__cell">1000</div>
                            </div>
                        </div>

                    </div>
                    <div class="table__cell"></div>
                </div>
            </div>

            <%- include ./../../form/custom_range.ejs %>
        </div>
    </div>
    <div class="col_xs_12 col_sm_8 col_md_8 col_lg_8">

        <div class="row">
            <div class="col_xs_12 col_sm_12 col_md_6 col_lg_7">
                <div data-block="model">
                    <!-- Model info -->
                    <%- include ./../../model/model.ejs %>
                </div>
            </div>

            <div class="col_xs_12 col_sm_12 col_md_6 col_lg_5" data-block="folding"></div>
        </div>

    </div>
</div>

