<div class="table table_sm">
    <div class="table__row">
        <div class="table__cell">
            Information
        </div>
    </div>
</div>

<div class="table table_sm">

    <div class="table__row">
        <div class="table__cell">
            <i class="fa fa-info-circle btn_skin_info" title="The name of your station"></i>
            <span>Space station name:</span>
        </div>
        <div class="table__cell">MyName</div>
        <div class="table__cell">
            <i class="fa fa-edit btn btn_skin_link btn_xs"></i>
        </div>
    </div>

    <div class="table__row">
        <div class="table__cell">
            <i class="fa fa-info-circle btn_skin_info" title="The name of sector where station is based"></i>
            <span>Located in sector:</span>
        </div>
        <div class="table__cell">Sector I</div>
        <div class="table__cell">
            <i class="fa fa-edit btn btn_skin_link btn_xs"></i>
        </div>
    </div>

    <div class="table__row">
        <div class="table__cell">
            <i class="fa fa-info-circle btn_skin_info" title="The coordinates of station in the sector"></i>
            <span>Coordinates:</span>
        </div>
        <div class="table__cell">

            <div class="table table_sm">
                <div class="table__row">
                    <div class="table__cell">X:</div>
                    <div class="table__cell">1000</div>
                </div>

                <div class="table__row">
                    <div class="table__cell">Y:</div>
                    <div class="table__cell">1000</div>
                </div>

                <div class="table__row">
                    <div class="table__cell">Z:</div>
                    <div class="table__cell">1000</div>
                </div>
            </div>

        </div>
        <div class="table__cell"></div>
    </div>
</div>