<div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">
    <div class="row row_xs">
        <div class="col_xs_12 col_sm_12 col_md_6 col_lg_4">sadd: </div>
        <div class="col_xs_12 col_sm_12 col_md_6 col_lg_8">asdasd</div>
    </div>
    <div class="row row_xs">
        <div class="col_xs_12 col_sm_12 col_md_6 col_lg_4">sadd: </div>
        <div class="col_xs_12 col_sm_12 col_md_6 col_lg_8">asdasd</div>
    </div>
    <div class="row row_xs">
        <div class="col_xs_12 col_sm_12 col_md_6 col_lg_4">sadd: </div>
        <div class="col_xs_12 col_sm_12 col_md_6 col_lg_8">asdasd</div>
    </div>
</div>