
<div class="row row_md">
    <div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">
        <span>Space Earth</span>
    </div>
</div>
<div class="row row_md">
    <div class="col_xs_12 col_sm_4 col_md_4 col_lg_4">
        <div class="row">
            <div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">This is dock name</div>
        </div>
        <div class="row"><!-- Some info --></div>
        <div class="row"><!-- Some info --></div>
    </div>
    <div class="col_xs_12 col_sm_8 col_md_8 col_lg_8">

        <div class="row">
            <div class="col_xs_12 col_sm_12 col_md_6 col_lg_7">
                <div data-block="model">
                    <!-- Model info -->
                    <%- include ./../../model/info.ejs %>
                </div>
            </div>

            <div class="col_xs_12 col_sm_12 col_md_6 col_lg_5" data-block="folding"></div>
        </div>

    </div>
</div>

