@keyframes hide {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes show {
  from {opacity: 0;}
  to {opacity: 1;}
}

.iw_hide_a {
  opacity: 0;
  animation-name: hide;
  animation-duration: 1s;
}

.iw_show_a {
  opacity: 1;
  animation-name: show;
  animation-duration: 1s;
}

.iw_position_a {
  position: absolute;
}

.iw_position_r {
  position: relative;
}

.iw_clearfix {
  clear: both;
}

.iw_block_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iw_block_right {
  float: right;
  padding-right: 5px;
}

.iw_block_left {
  float: left;
  padding-left: 5px;
}

.iw_hidden {
  display: none;
}
