<div class="informer informer_danger informer_xs">
    <span>Danger:</span>
    <ul>
        <% for (let message of messages) { %>
        <li>
            <i class="fa fa-times"></i>
            <%= message %>
        </li>
        <% } %>
    </ul>
</div>
