<div class="informer informer_info informer_xs">
    <span>Info:</span>
    <ul>
        <% for (let message of messages) { %>
        <li>
            <i class="fa fa-info-circle"></i>
            <%= message %>
        </li>
        <% } %>
    </ul>
</div>
