<div class="informer informer_xs informer_info">
    <div class="informer__title">Info:</div>
    <ul>
        <% for (let message of messages) { %>
        <li>
            <i class="fa fa-exclamation-triangle informer__icon"></i>
            <span><%= message %></span>
        </li>
        <% } %>
    </ul>
</div>
