<div class="informer informer_success informer_xs">
    <span>Success:</span>
    <ul>
        <% for (let message of messages) { %>
        <li>
            <i class="fa fa-check"></i>
            <%= message %>
        </li>
        <% } %>
    </ul>
</div>
